{% load static %}
{% load l10n %}
{% load format %}
{% load utils %}
<div class="card">
    <header class="bg-{{escola.slug}}">
        <h3>{{escola.name}}</h3>
        <address>
            {{escola.address}}
            <br>
            CEP {{escola.cep|unlocalize}}
        </address>
        </small>
        <div class="numbers">
            {% if total %}
                <div class="cell">
                    <strong class="bignumber">
                        R$
                        {% if total|small_intword|split|length > 1 %}
                            <span class="number">
                                {{total|small_intword|split|first}}
                            </span>
                            {{total|small_intword|split|last}}
                        {% else %}
                            <span class="number">
                                {{total|floatformat:2}}
                            </span>
                        {% endif %}
                    </strong>
                    <div class="description">
                        em recursos
                    </div>
                </div>
            {% endif %}
            <div class="cell">
                {% if escola.vagas%}
                    <strong class="bignumber">
                        <span class="number">
                            {{escola.vagas}}
                        </span>
                    </strong>
                    <div class="description">
                        vagas oferecidas
                    </div>
                {% endif %}
            </div>
        </div>
        <p><small>Essa ferramenta exibe apenas parte dos recursos destinados às unidades educacionais.</small></p>
    </header>
    <div class="body">
        {% if total %}
            <h3>
                <strong>Principais recursos</strong>
                da Unidade Educacional
            </h3>
        {% else %}
        <small>Não foram encontrados dados correspondentes para este nível de detalhamento ou filtro aplicado.</small>
        {% endif %}
        <table class="groups">
            <tbody>
                
                {% for grupo in escola.recursos.grupos|dictsort:"name" %}
                    <tr>
                        <td>
                            {% include '_legend_icon.html' with app='regionalizacao' slug=grupo.name class_name='bg-'|add:escola.slug|lower %}
                        </td>
                        <td>
                            <h4>
                                <strong class="number">
                                    R$ {{grupo.total|floatformat:2}}
                                </strong>
                                <div class="description fg-{{escola.slug}}">
                                    <strong>
                                        {{grupo.name}}
                                    </strong>
                                </div>
                            </h4>
                            {% for subgrupo in grupo.subgrupos %}
                                <div class="subgroup">
                                    {% if subgrupo.cost %}
                                        <strong class="number">
                                            R$ {{subgrupo.cost|floatformat:2}}
                                        </strong>
                                    {% endif %}
                                    {% if subgrupo.amount or subgrupo.cost %}
                                    <div class="description">
                                        <div>
                                            {{subgrupo.name}}
                                        </div>
                                        <div>
                                            {{subgrupo.amount|default:''}} {{subgrupo.label|default:''}}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                {% if escola.recursos.ptrf %}
                    <tr>
                        <td>
                            {% include '_legend_icon.html' with app='regionalizacao' slug='ptrf' class_name='bg-'|add:escola.slug %}
                        </td>
                        <td>
                            <h4>
                                <strong class="number">
                                    R$ {{escola.recursos.ptrf|floatformat:2}}
                                </strong>
                                <div class="description fg-{{escola.slug}}">
                                    <strong>
                                        Repasse PTRF
                                    </strong>
                                </div>
                            </h4>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
