{% extends 'regionalizacao/base.html'  %}
{% load utils %}
{% load format %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Regionalização{% endblock %}

{%block header %}
  <h1>Regionalização</h1>
  <p>Saiba onde está o orçamento da educação de São Paulo</p>
  {% include '_header_nav.html' with last_update_header='Última atualização em: ' about='regionalizacao:saiba_mais' %}
{% endblock %}
{%block sections %}
  <section id="mapa">
    <div class="wrapper">
        <p>Clique sobre o mapa de São Paulo e utilize os controles abaixo para explorar a distribuição de despesas e transferências nas regiões, Diretorias Regionais e unidades da Educação municipal.</p>
      <form action="#mapa" method="get" class="query">
        <div class="form-item switch">
          <input type="checkbox" name="" id="executed-switch">
          <label for="executed-switch">Unidades diretas</label>
          <label for="executed-switch">Unidades parceiras</label>
        </div>
          <div class="form-item">
            <select id="{{ filter_form.year.id_for_label }}" name="{{ filter_form.year.name }}">
                {% localize off %}
                {% for value, label in filter_form.year.field.choices %}
                    <option value="{{ value }}"
                            {% if value|unlocalize == filter_form.year.value|unlocalize %}selected{% endif %}>{{ label }}

                    </option>
                {% endfor %}
                {% endlocalize %}
            </select>
          </div>
        <input class="submit" type="submit" value="Filtrar" name="go">
      </form>
      {% include '_breadcrumb.html' with breadcrumb=breadcrumb anchor='mapa' %}
      <div class="chart">
      <svg class="map-container">
          <g class="map">
          </g>
          <g class="focus">
          {% if filter_form.distrito.value %}
              <path data-id="{{filter_form.distrito.value}}" class="active"></path>
          {% else %}
          {% for place in places %}
              <a href="{{place.url}}#mapa">
              <path data-id="{% if place.code %}{{place.code}}{% else %}{{place.name}}{% endif%}"></path>
              </a>
          {% endfor %}
          {% endif%}
          </g>
          {% if filter_form.distrito.value %}
          <g class="schools">
          {% for place in places %}
              <a href="{{place.url}}#mapa">
                  <use xlink:href="{% static 'regionalizacao/img/marker.svg' %}#marker"
                       data-id="{{place.code}}"
                       class="bg-{{place.slug}}"
                       data-lat="{{place.latitude}}"
                       data-long="{{place.longitude}}"
                       ></use>
              </a>
          {% endfor %}
          </g>
          {% endif %}
      </svg>
      <aside>
          <div class="card">
              <header>
                  <h3>{{current_level}}</h3>
                  <div class="numbers">
                      <div class="cell">
                          <strong class="bignumber">
                              R$
                              <span class="number">
                                  {{total|small_intword|split|first}}
                              </span>
                              {{total|small_intword|split|last}}
                          </strong>
                          <div class="description">
                              em recursos
                          </div>
                      </div>
                      <div class="cell">
                      {% with total_vagas=etapas|sum_of:'vagas' %}
                          {% if total_vagas%}
                              <strong class="bignumber">
                                  <span class="number">
                                      {{total_vagas}}
                                  </span>
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                          {% endif %}
                          {% endwith %}
                      </div>
                  </div>
                  <p><small>Essa ferramenta exibe apenas parte dos recursos destinados às escolas.</small></p>
              </header>
              <div class="body">
                  <h3>
                      <strong>Principais recurso</strong>
                      por tipo de unidade educacional
                  </h3>
                  <div class="total bignumber">
                      {% with total_unidades=etapas|sum_of:'unidades' %}
                          <strong class="number">
                              {{total_unidades}}
                          </strong>
                          unidades diretas
                          <div class="bar">
                          {% for etapa in etapas %}
                              {% widthratio etapa.unidades total_unidades 100 as unidades_percentage %}
                              <span class="value fg-{{etapa.slug}}" style="width: {{unidades_percentage}}%">{{unidades_percentage}}%</span>
                          {% endfor %}
                          </div>
                      {% endwith %}
                  </div>
                  <table>
                  {% for etapa in etapas %}
                      <tr>
                          <td>
                              <strong class="number">
                                  {{etapa.unidades}}
                              </strong>
                              unidades
                              <div class="tooltip-container">
                                  <svg class="icon">
                                      <use xlink:href="{% static 'regionalizacao/img/info.svg' %}#icon"></use>
                                  </svg>
                                  <div class="tooltip bg-{{etapa.slug}}">
                                      <div>
                                          <h4>Tipos de unidades</h4>
                                          {% for tipo in etapa.tipos %}
                                              <h5>{{tipo.code}}</h5>
                                              <p>{{tipo.desc}}</p>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div class="description fg-{{etapa.slug}}">
                                  <strong>
                                      {{etapa.name}}
                                  </strong>
                              </div>
                          </td>
                          <td>
                              <strong>
                                  R$ {{etapa.total|floatformat:2}}
                              </strong>
                              <div class="description">
                                  em recursos
                              </div>
                              {% if etapa.vagas %}
                              <strong>
                                  {{etapa.vagas}}
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                              {% endif %}
                          </td>
                      </tr>
                  {% endfor %}
                  </table>
              </div>
          </div>
      </aside>
      </div>
    </div>
  </section>
  <section id="localidade">
      <div class="wrapper">
          <h2>Principais recursos por <em>localidade</em> em 2019</h2>
          <form action="#localidade" method="get" class="query">
              <div class="form-item">
                  Visualizar por:
              </div>
              <div class="form-item">
                  <select name="localidade">
                      <option value="zona">Zona</option>
                      <option value="dre">Diretoria Regional de Ensino</option>
                  </select>
              </div>
              <div class="form-item switch">
                  <input type="checkbox" name="" id="localidade-order">
                  <label for="localidade-order">Ordem Alfabética</label>
                  <label for="localidade-order">Ordem Crescente</label>
              </div>
              <input class="submit" type="submit" value="Filtrar" name="go">
          </form>
          <div class="barchart">
              {% for location in locations %}
                  {% widthratio location.total total 100 as percentage %}
                  <div class="bar" data-label="{{location.name}}" data-value="{{location.total|unlocalize}}" data-percentage="{{percentage}}" style="width: {{percentage}}%">
                      <div class="label">{{location.name}}</div>
                      <div class="value">R$ {{location.total|floatformat:2}}</div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}
