{% extends 'regionalizacao/base.html'  %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Regionalização{% endblock %}

{%block header %}
  <h1>Regionalização</h1>
  <p>Saiba onde está o orçamento da educação de São Paulo</p>
  {% include '_header_nav.html' with last_update_header='Última atualização em: ' about='regionalizacao:saiba_mais' %}
{% endblock %}
{%block sections %}
  <section id="mapa">
    <div class="wrapper">
        <p>Clique sobre o mapa de São Paulo e utilize os controles abaixo para explorar a distribuição de despesas e transferências nas regiões, Diretorias Regionais e unidades da Educação municipal.</p>
      <form action="#mapa" method="get" class="query">
        <div class="form-item switch">
          <input type="checkbox" name="" id="executed-switch">
          <label for="executed-switch">Unidades diretas</label>
          <label for="executed-switch">Unidades parceiras</label>
        </div>
          <div class="form-item">
            <select id="{{ filter_form.year.id_for_label }}" name="{{ filter_form.year.name }}">
                {% localize off %}
                {% for value, label in filter_form.year.field.choices %}
                    <option value="{{ value }}"
                            {% if value|unlocalize == filter_form.year.value|unlocalize %}selected{% endif %}>{{ label }}

                    </option>
                {% endfor %}
                {% endlocalize %}
            </select>
          </div>
        <input class="submit" type="submit" value="Filtrar" name="go">
      </form>
      <h2>São Paulo</h2>
      <svg class="map-container">
          <g class="map"></g>
      </svg>
      <aside>
          <div class="card">
              <header>
                  <h3>São Paulo</h3>
                  <div class="numbers">
                      <div class="cell">
                          <strong class="bignumber">
                              R$
                              <span class="number">
                                  189,3
                              </span>
                              mil
                          </strong>
                          <div class="description">
                              em recursos
                          </div>
                      </div>
                      <div class="cell">
                          <strong class="bignumber">
                              <span class="number">
                                  15.920
                              </span>
                          </strong>
                          <div class="description">
                              vagas oferecidas
                          </div>
                      </div>
                  </div>
                  <p><small>Essa ferramenta exibe apenas parte dos recursos destinados às escolas.</small></p>
              </header>
              <div class="body">
                  <h3>
                      <strong>Principais recurso</strong>
                      por tipo de unidade educacional
                  </h3>
                  <div class="total bignumber">
                      <strong class="number">
                          100.000
                      </strong>
                      unidades diretas
                      <div class="bar">
                          <span class="value fg-infantil" data-execution="0.5" style="width: 50%">50%</span>
                          <span class="value fg-fundamental" data-execution="0.25" style="width: 25%">25%</span>
                          <span class="value fg-medio" data-execution="0.125" style="width: 12.5%">12.5%</span>
                          <span class="value fg-especial" data-execution="0.125" style="width: 12.5%">12.5%</span>
                      </div>
                  </div>
                  <table>
                      <tr>
                          <td>
                              <strong class="number">
                                  50.000
                              </strong>
                              unidades
                              <div class="tooltip-container">
                                  <svg class="icon">
                                      <use xlink:href="{% static 'regionalizacao/img/info.svg' %}#icon"></use>
                                  </svg>
                                  <div class="tooltip bg-infantil">
                                      <h4>Tipos de unidades</h4>
                                      <h5>EMEFM</h4>
                                      <p>Escola Municipal de Ensino Fundamental</p>
                                  </div>
                              </div>
                              <div class="description fg-infantil">
                                  <strong>
                                      Ensino infantil
                                  </strong>
                              </div>
                          </td>
                          <td>
                              <strong>
                                  R$ 50.000,00
                              </strong>
                              <div class="description">
                                  em recursos
                              </div>
                              <strong>
                                      421
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                          </td>
                      <tr>
                          <td>
                              <strong class="number">
                                  25.000
                              </strong>
                              unidades
                              <div class="tooltip-container">
                                  <svg class="icon">
                                      <use xlink:href="{% static 'regionalizacao/img/info.svg' %}#icon"></use>
                                  </svg>
                                  <div class="tooltip bg-fundamental">
                                      <h4>Tipos de unidades</h4>
                                      <h5>EMEFM</h4>
                                      <p>Escola Municipal de Ensino Fundamental</p>
                                  </div>
                              </div>
                              <div class="description fg-fundamental">
                                  <strong>
                                      Ensino fundamental
                                  </strong>
                              </div>
                          </td>
                          <td>
                              <strong>
                                  R$ 50.000,00
                              </strong>
                              <div class="description">
                                  em recursos
                              </div>
                              <strong>
                                      421
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                          </td>
                      <tr>
                          <td>
                              <strong class="number">
                                  12.500
                              </strong>
                              unidades
                              <div class="tooltip-container">
                                  <svg class="icon">
                                      <use xlink:href="{% static 'regionalizacao/img/info.svg' %}#icon"></use>
                                  </svg>
                                  <div class="tooltip bg-medio">
                                      <h4>Tipos de unidades</h4>
                                      <h5>EMEFM</h4>
                                      <p>Escola Municipal de Ensino Fundamental</p>
                                  </div>
                              </div>
                              <div class="description fg-medio">
                                  <strong>
                                      Ensino médio
                                  </strong>
                              </div>
                          </td>
                          <td>
                              <strong>
                                  R$ 50.000,00
                              </strong>
                              <div class="description">
                                  em recursos
                              </div>
                              <strong>
                                      421
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                          </td>
                      <tr>
                          <td>
                              <strong class="number">
                                 12.500
                              </strong>
                              unidades
                              <div class="tooltip-container">
                                  <svg class="icon">
                                      <use xlink:href="{% static 'regionalizacao/img/info.svg' %}#icon"></use>
                                  </svg>
                                  <div class="tooltip bg-especial">
                                      <h4>Tipos de unidades</h4>
                                      <h5>EMEFM</h4>
                                      <p>Escola Municipal de Ensino Fundamental</p>
                                  </div>
                              </div>
                              <div class="description fg-especial">
                                  <strong>
                                      Ensino especial
                                  </strong>
                              </div>
                          </td>
                          <td>
                              <strong>
                                  R$ 50.000,00
                              </strong>
                              <div class="description">
                                  em recursos
                              </div>
                              <strong>
                                      421
                              </strong>
                              <div class="description">
                                  vagas oferecidas
                              </div>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
      </aside>
    </div>
  </section>
  <section id="localidade">
      <div class="wrapper">
          <h2>Principais recursos por <em>localidade</em> em 2019</h2>
          <form action="#localidade" method="get" class="query">
              <div class="form-item">
                  Visualizar por:
              </div>
              <div class="form-item">
                  <select name="">
                      <option value="">Zona</option>
                      <option value="">Diretoria Regional de Ensino</option>
                  </select>
              </div>
              <div class="form-item switch">
                  <input type="checkbox" name="" id="localidade-order">
                  <label for="localidade-order">Ordem Alfabética</label>
                  <label for="localidade-order">Ordem Crescente</label>
              </div>
              <input class="submit" type="submit" value="Filtrar" name="go">
          </form>
          <div class="barchart">
              {% for location in locations %}
                  {% widthratio location.total total 100 as percentage %}
                  <div class="bar" data-label="{{location.name}}" data-value="{{location.total|unlocalize}}" data-percentage="{{percentage}}" style="width: {{percentage}}%">
                      <div class="label">{{location.name}}</div>
                      <div class="value">R$ {{location.total|floatformat:2}}</div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </section>
{% endblock %}
