{% extends 'regionalizacao/base.html'  %}

{%block header %}
    <h1>Regionalização</h1>
    <p>Saiba onde está o orçamento da educação de São Paulo</p>
    {% include '_header_nav.html' with methodology='regionalizacao:metodologia' %}
{% endblock %}

{% block title %}Regionalização - Saiba mais{% endblock %}

{%block sections %}
    <section>
        <div class="wrapper container">
            <div class="sidebar">
                <div class="card sobre">
                    <input type="button" value="voltar" onclick="window.history.back()" class="voltar" />
                        <h1>So<br />bre<br /></h1>
                        <p>O objetivo da ferramenta <strong>Regionalização</strong> é mostrar <strong>como estão distribuídos geograficamente</strong> alguns dos recursos destinados à Educação na cidade de São Paulo.</p>
                </div>
                <ul>
                    <li class="active"><a href="{% url 'regionalizacao:saiba_mais' %}">Sobre</a></li>
                    <li><a href="{% url 'regionalizacao:tutorial' %}">Tutorial</a></li>
                </ul>
            </div>
            <div class="main verde txt">
                    <h2><strong>SOBRE </strong>❯ A Regionalização</h2>
                    <p>A ferramenta permite visualizar, de forma regionalizada, <strong>informa&ccedil;&otilde;es sobre parte dos recursos</strong> associados &agrave; Secretaria Municipal de Educa&ccedil;&atilde;o de S&atilde;o Paulo. S&atilde;o mostrados apenas os recursos que podem ser atribu&iacute;dos a uma unidade de ensino, e n&atilde;o o total do or&ccedil;amento da Educa&ccedil;&atilde;o.</p>
                    <p>&nbsp;</p>
                    <p>Diferentemente das ferramentas <a href="http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/mosaico/">Mosaico</a>, <a href="http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/geologia">Geologia</a> e <a href="http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos">Contrato Social</a>, a <strong>Regionaliza&ccedil;&atilde;o </strong>n&atilde;o utiliza como fonte de dados o Sistema de Execu&ccedil;&atilde;o Or&ccedil;ament&aacute;ria (API-SOF) , mas congrega diferentes fontes de dados que permitem identificar parte dos recursos aplicados na Educa&ccedil;&atilde;o at&eacute; o n&iacute;vel de unidade de ensino. Mais detalhes sobre as fontes dos dados podem ser vistos na se&ccedil;&atilde;o <strong>Metodologia</strong>.</p>
                    <p><strong>Nem todo recurso destinado &agrave; educa&ccedil;&atilde;o &eacute; pass&iacute;vel de regionaliza&ccedil;&atilde;o.</strong> Existem contratos firmados para provis&atilde;o de determinados servi&ccedil;os ou para compra de bens, por exemplo, que atendem a um conjunto grande de unidades de ensino ou atendem &agrave; administra&ccedil;&atilde;o municipal de forma mais ampla, sem atribuir claramente como os valores foram distribu&iacute;dos para cada unidade de ensino. Por outro lado, existem despesas que s&atilde;o diretamente associadas a cada unidade de ensino, como &eacute; o caso do pagamento de sal&aacute;rios a professores e diretores de determinada unidade de ensino ou dos repasses direcionados especificamente para cada unidade.</p>
                    <p>Por essa raz&atilde;o, a<strong> ferramenta apresenta um universo menor de valores em compara&ccedil;&atilde;o com o or&ccedil;amento total da Secretaria Municipal de Educa&ccedil;&atilde;o (SME)</strong>. Esse universo &eacute; composto por valores identificados pelas unidades diretamente administradas pela SME (unidades diretas) e das unidades parceiras. Para as unidades diretas, as seguintes categorias est&atilde;o dispon&iacute;veis:</p>
                    <ul>
                    <li>Recursos repassados &agrave;s unidades de ensino atrav&eacute;s do Programa de Transfer&ecirc;ncia de Recursos Financeiros (PTRF);</li>
                    <li>Recursos relacionados aos kits de material escolar;</li>
                    <li>Recursos destinados ao pagamento de pessoal das unidades de ensino, incluindo equipe gestora (Diretores/Coordenador/Assistente de Direção), professores e&nbsp; equipes de apoio.</li>
                    </ul>
                    <p>J&aacute; em rela&ccedil;&atilde;o &agrave;s unidades parceiras, est&atilde;o dispon&iacute;veis informa&ccedil;&otilde;es referentes aos kits de material escolar.</p>
                    <p>Essas informa&ccedil;&otilde;es s&atilde;o consolidadas com outras bases de dados que permitem identificar cada unidade de ensino e vincul&aacute;-la a uma determinada regi&atilde;o geogr&aacute;fica. Para isso, s&atilde;o utilizadas as seguintes fontes de informa&ccedil;&atilde;o auxiliar:</p>
                    <ul>
                        <li>API-EOL: dados detalhados das unidades de ensino, tais como nome, tipo, endere&ccedil;o, distrito, tipo de rede (direta ou parceira), geolocaliza&ccedil;&atilde;o e total de vagas oferecidas;</li>
                        <li>Distrito-Zona: correspond&ecirc;ncia entre distritos do munic&iacute;pio de S&atilde;o Paulo e a regi&atilde;o (zona) respectiva da cidade;</li>
                        <li>Etapa-Tipo Escola: correspond&ecirc;ncia entre a etapa/modalidade de ensino e os&nbsp; tipos de unidades de ensino.</li>
                    </ul>
                    <p>Em rela&ccedil;&atilde;o ao &uacute;ltimo t&oacute;pico acima, para Etapa-Tipo Escola, t&ecirc;m-se as seguintes correspond&ecirc;ncias:</p>
                    <ul>
                        <li>Educa&ccedil;&atilde;o Infantil ‒ Centro de Educa&ccedil;&atilde;o Infantil Direto (CEI DIRETO), Centro de Educa&ccedil;&atilde;o Indireto Conveniado (CEI INDIRETO), parceiros, Escola Municipal de Educa&ccedil;&atilde;o Infantil (EMEI), Centro Municipal de Educa&ccedil;&atilde;o Infantil (CEMEI), Centro de Educa&ccedil;&atilde;o e Cultura Ind&iacute;gena (CECI), Centro Educacional Unificado-CEI (CEU CEI) e Centro Educacional-EMEI (CEU EMEI);</li>
                        <li>Ensino Fundamental e M&eacute;dio &ndash; Escola Municipal de Ensino Fundamental (EMEF), Centro Educacional Unificado-EMEF (CEU EMEF) e Escola Municipal de Ensino Fundamental e M&eacute;dio (EMEFM);</li>
                        <li>Educa&ccedil;&atilde;o de Jovens e Adultos e Profissional &ndash; Centro Integrado de Educa&ccedil;&atilde;o de Jovens e Adultos (CIEJA), Centro Municipal de Capacita&ccedil;&atilde;o e Treinamento&nbsp; (CMCT) e Unidade do Movimento de Alfabetiza&ccedil;&atilde;o de Jovens e Adultos (MOVA);</li>
                        <li>Educa&ccedil;&atilde;o Especial ‒ Escola Municipal de Educa&ccedil;&atilde;o Bil&iacute;ngue para Surdos (EMEBS).&nbsp;</li>
                    </ul>
                    <p>Com isso, &eacute; poss&iacute;vel obter uma base de dados desagregada, com uma s&eacute;rie de informa&ccedil;&otilde;es descritivas sobre cada unidade de ensino, bem como sobre parte dos recursos aplicados nessas unidades (aqueles pass&iacute;veis de regionaliza&ccedil;&atilde;o), segmentados nas categorias apresentadas acima: PTRF, material e pessoal. Al&eacute;m disso, &eacute; poss&iacute;vel agregar as unidades de ensino em diferentes n&iacute;veis geogr&aacute;ficos, indo do mais amplo para o mais granular, por meio de uma trilha de navega&ccedil;&atilde;o: da cidade para as regi&otilde;es (zonas), das regi&otilde;es para as Diretorias Regionais de Educa&ccedil;&atilde;o (DREs), das DREs para os distritos e dos distritos para as unidades de ensino.</p>
                    <p>A ferramenta possui dados consolidados do ano de 2019. Os anos seguintes ser&atilde;o inclu&iacute;dos sempre ap&oacute;s o fechamento do exerc&iacute;cio financeiro. Ou seja, os dados referentes a 2020 estar&atilde;o dispon&iacute;veis em 2021 e assim por diante.</p>
                    
                    <p><strong><em>Consulte o <a href="{% url 'regionalizacao:tutorial' %}">Tutorial</a> para entender melhor cada recurso de navega&ccedil;&atilde;o da ferramenta.</em></strong></p>
                    <p><strong><em>Consulte a <a href="{% url 'regionalizacao:metodologia' %}">Metodologia</a> para mais detalhes sobre as fontes dos dados utilizados na ferramenta.</em></strong></p>
            </div>
        </div>
    </section>
{% endblock %}
