{% extends 'base.html'  %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Regionalização{% endblock %}

{%block head %}
<link rel="stylesheet" href="{% static 'regionalizacao/css/style.css' %}">

{% endblock %}

{%block header %}
  <h1>Regionalização</h1>
  <p>Saiba onde está o orçamento da educação de São Paulo</p>
  {% include '_header_nav.html' with about='regionalizacao:metodologia'%}
{% endblock %}

{%block sections %}
  <div class="wrapper container">

        <!-- Sidebar -->
        <div class="sidebar">
                <div class="card sobre">
                    <input type="button" value="voltar" onclick="window.history.back()" class="voltar" />
                        <h1>So<br />bre<br /></h1>
                        <p>O objetivo da ferramenta <strong>Regionalização</strong> é mostrar <strong>como estão distribuídos geograficamente</strong> alguns dos recursos destinados à Educação na cidade de São Paulo.</p>
                </div>
                <ul>
                    <li><a href="{% url 'regionalizacao:saiba_mais' %}">Sobre</a></li>
                    <li class="active"><a href="{% url 'regionalizacao:tutorial' %}">Tutorial</a></li>
                </ul>
            </div>
        <!-- End Sidebar -->

        <div class="main">
            <div class="tutorial">
                <div class="metodologia_mosaico verde">
                        <h2><strong>TUTORIAL</strong> ❯ Vis&atilde;o geral</h2>

                        <p>A navega&ccedil;&atilde;o da ferramenta &eacute; orientada, principalmente, a partir de um mapa interativo da cidade de S&atilde;o Paulo. Como mostra a<strong> Figura 1</strong>, ao abrir a ferramenta, o usu&aacute;rio visualiza, do lado esquerdo, o mapa segmentado por regi&otilde;es (zonas) geogr&aacute;ficas e, do lado direito, um painel com os dados gerais da ferramenta agregados para a cidade de S&atilde;o Paulo: quantidade de recursos que s&atilde;o mapeados na ferramenta (em R$ milh&otilde;es correntes), n&uacute;mero de unidades de ensino e a segmenta&ccedil;&atilde;o dessas informa&ccedil;&otilde;es por modalidade de ensino (Educa&ccedil;&atilde;o Infantil, Ensino Fundamental e M&eacute;dio, Educa&ccedil;&atilde;o de Jovens e Adultos e Profissional, e Educa&ccedil;&atilde;o Especial).</p>
                        
                        <p><strong>Figura 1</strong>: Vis&atilde;o geral da ferramenta</p>
                        <img src="{% static 'regionalizacao/img/regionalizacao-figura-1.png' %}" alt="Figura 1" width="40%">
                        
                        <p>A chave seletora logo acima da visualiza&ccedil;&atilde;o do mapa permite selecionar o tipo de rede das unidades de ensino. &Eacute; poss&iacute;vel escolher entre unidades diretas e unidades parceiras, de modo que o painel lateral responde, adaptando-se ao universo escolhido. Quando &eacute; escolhido o universo de unidades parceiras, a ficha lateral tamb&eacute;m exibe a informa&ccedil;&atilde;o de vagas contratadas.</p>
                        <p>O usu&aacute;rio tamb&eacute;m pode escolher o ano de refer&ecirc;ncia dos dados apresentados no seletor de ano, ao lado do seletor do tipo de rede. Os anos dispon&iacute;veis s&atilde;o o de 2018 em diante. No painel superior da ferramenta, &eacute; poss&iacute;vel visualizar a data de atualiza&ccedil;&atilde;o, que &eacute; a data da &uacute;ltima vez que o administrador inseriu dados novos na ferramenta.</p>
                        <p>Abaixo do mapa, a ferramenta exibe um gr&aacute;fico de barras horizontais com o total de recursos por regi&atilde;o no ano selecionado. H&aacute; dois seletores dispon&iacute;veis: um seletor que permite escolher entre regi&otilde;es ou DREs para exibi&ccedil;&atilde;o nas barras e um seletor do crit&eacute;rio de exibi&ccedil;&atilde;o, que pode ser por ordem alfab&eacute;tica ou crescente em termos do volume de recursos. Um detalhe dessa visualiza&ccedil;&atilde;o se encontra na <strong>Figura 2 </strong>a seguir.</p>
                        
                        <p><strong>Figura 2</strong>: Gr&aacute;fico de barras comparativo</p>
                        <p>figura</p>
                        
                        <h2><strong>TUTORIAL</strong> ❯ Navega&ccedil;&atilde;o do mapa</h2>
                        
                        <p>Ao mover o cursor sobre o mapa, a ferramenta exibe um <em>tooltip </em>com o total de recursos daquela regi&atilde;o. Ao clicar em uma regi&atilde;o espec&iacute;fica, a ferramenta mostra um mapa dessa regi&atilde;o segmentado por Diretorias Regionais de Educa&ccedil;&atilde;o (DREs). Logo acima do mapa, a trilha de navega&ccedil;&atilde;o exibe o caminho percorrido. O painel do lado direito responde &agrave; sele&ccedil;&atilde;o mostrando as mesmas informa&ccedil;&otilde;es que antes se referiam &agrave; cidade como um todo e, agora, est&atilde;o filtradas apenas para a regi&atilde;o escolhida. A <strong>Figura 3</strong> apresenta um exemplo em que o usu&aacute;rio seleciona a Zona Leste para visualiza&ccedil;&atilde;o detalhada.</p>
                        
                        <p><strong>Figura 3</strong>: Exemplo de sele&ccedil;&atilde;o de uma regi&atilde;o espec&iacute;fica: Zona Leste</p>
                        <p>figura</p>
                        
                        <p><strong>OBSERVA&Ccedil;&Atilde;O</strong>: Existem dois casos de sobreposi&ccedil;&atilde;o territorial, nos quais uma DRE ocupa mais de uma regi&atilde;o. A DRE Ipiranga possui parte de seu territ&oacute;rio na regi&atilde;o Centro, parte&nbsp; na regi&atilde;o Sul e parte na regi&atilde;o Leste. A DRE Pirituba-Jaragu&aacute; possui uma parte de seu territ&oacute;rio na regi&atilde;o Norte e outra parte na regi&atilde;o Oeste. A visualiza&ccedil;&atilde;o do mapa exibe, nesses casos, todas as DREs que tenham o todo ou parte do seu territ&oacute;rio nessa regi&atilde;o e a ficha lateral exibe informa&ccedil;&otilde;es agregadas da regi&atilde;o a partir dos distritos que a comp&otilde;em (ao inv&eacute;s da agrega&ccedil;&atilde;o das DREs). A trilha de navega&ccedil;&atilde;o exibe o caminho que foi percorrido pelo usu&aacute;rio.</p>
                        
                        <p>Seguindo a mesma l&oacute;gica, o usu&aacute;rio observa o total de recursos de cada DRE ao mover o cursor sobre o mapa. Ao selecionar uma DRE, o mapa se reconfigura novamente para detalhar a DRE selecionada por distrito. A <strong>Figura 4</strong> a seguir mostra um exemplo em que, ap&oacute;s selecionar a Zona Leste, o usu&aacute;rio escolheu observar detalhadamente a DRE S&atilde;o Mateus. O painel lateral responde novamente &agrave; sele&ccedil;&atilde;o, desta vez, com os dados agregados para a DRE escolhida.</p>
                        
                        <p><strong>Figura 4</strong>: Exemplo de sele&ccedil;&atilde;o de uma DRE espec&iacute;fica: S&atilde;o Mateus</p>
                        <p>figura</p>
                        
                        <p>Neste caso, o usu&aacute;rio pode identificar os recursos aplicados por distrito ao mover o cursor sobre o mapa da DRE. Ao clicar em um distrito, o mapa exibe um detalhamento que permite observar as unidades de ensino daquele distrito, como mostra a <strong>Figura 5</strong>, em que se mostra uma sele&ccedil;&atilde;o para o distrito de S&atilde;o Mateus.</p>
                        
                        <p><strong>Figura 5</strong>: Exemplo de sele&ccedil;&atilde;o de uma DRE espec&iacute;fica: S&atilde;o Mateus</p>
                        <p>figura</p>
                        
                        <p>Feito isso, o painel lateral mostra os dados referentes ao distrito selecionado. Ao mover o cursor sobre o mapa, que exibe pontos com a localiza&ccedil;&atilde;o aproximada das unidades de ensino mapeadas, a ferramenta exibe um <em>tooltip</em> com o nome da unidade. &Eacute; poss&iacute;vel clicar sobre esses pontos para obter informa&ccedil;&otilde;es detalhadas sobre a unidade de ensino, como mostra a <strong>Figura 6</strong> para o caso da &ldquo;EMEI CEU - Dr. Carlos Olivaldo de Souza Lopes Muniz&rdquo;.&nbsp;</p>
                        
                        <p><strong>Figura 6</strong>: Exemplo de sele&ccedil;&atilde;o de uma unidade de ensino:</p>
                        <p>figura</p>
                        
                        <p>EMEI CEU - Dr. Carlos Olivaldo de Souza Lopes Muniz</p>
                        <p>Neste caso, a ficha lateral atualiza para exibir informa&ccedil;&otilde;es espec&iacute;ficas da unidade de ensino selecionada. S&atilde;o exibidos o endere&ccedil;o, o total de recursos exibidos na ferramenta aplicados nessa unidade e a segmenta&ccedil;&atilde;o desses recursos pelas categorias (PTRF, material escolar e pessoal). Al&eacute;m disso, para o caso dos recursos aplicados em material escolar, o painel exibe a quantidade de kits fornecidos e seus respectivos valores para cada tipo de kit (neste caso, kits para ensino fundamental, kits para ensino fundamental do ciclo interdisciplinar e kits para CIEJA - Centro Integrado de Educa&ccedil;&atilde;o de Jovens e Adultos). Por fim, os recursos aplicados em pessoal s&atilde;o divididos entre equipe gestora, professores e quadro de apoio. &Eacute; importante destacar que nem sempre todas essas informa&ccedil;&otilde;es estar&atilde;o dispon&iacute;veis para uma determinada unidade de ensino.</p>
                        
                        <h2><strong>N&Atilde;O ENCONTROU O QUE PROCURAVA?</strong></h2>
                        <p>Fa&ccedil;a um pedido de acesso &agrave; informa&ccedil;&atilde;o. Saiba como, clicando <a href="http://transparencia.prefeitura.sp.gov.br/acesso-a-informacao/Paginas/Como-pedir-uma-informacao.aspx">aqui</a>.</p>
                        <p><strong>***</strong></p>
                        
                </div>
           
            </div>            
        </div>
    </div>
{% endblock %}
