{% load humanize %}
{% load l10n %}
{% load format %}
<aside>
  {% for year in data %}
  <div id="por-subfuncao-{{ type }}-{{ year.year }}" class="card {%if forloop.first %}active{%endif%}" data-year="{{ year.year }}">
    <header>
      <h3 class="title">{{ year.year }}</h3>
      <small>Orçamento total</small>
      <div class="value">
        {% if year.total %}R$ {{ year.total }}{% else %}-{% endif %}
      </div>
    </header>
    <div class="body">
      <table>
        <tbody>
          {% for item in year.gnds%}
          {% if item.slug %}
          <tr data-name="{{ item.slug}}"
              data-year="{{ year.year }}"
              data-value="{{ item.value|unlocalize }}"
              data-execution="{{ item.percent|unlocalize }}">
            <td>
              <span class="fg-{{ item.slug }}" title="{{ item.name }}">
                {% include 'geologia/_gnd_item.html' with slug=item.slug %}
              </span>
              {{ item.percent | percentage | floatformat:2 }}%
            </td>
            <td>{% if item.value %}R$ {{ item.value }}{% else %}-{% endif %}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <p class="chart-note">Nota técnica: Algumas subfunções podem apresentar valores iguais a zero em alguns anos devido à forma de organização do orçamento em cada administração. Por exemplo, as subfunções "Educação Infantil", "Ensino Fundamental" e "Educação Especial" não aparecem entre 2014 e 2017, dado que, neste período, o orçamento categorizava todas as despesas referentes a essas subfunções como "Educação Básica" de forma geral.</p>
    </div>
  </div>
  {% endfor %}
</aside>
