{% load humanize %}
{% load l10n %}
<table class="bar-chart">
  <thead>
    <tr>
      <th>Ano</th>
      <th>Valores</th>
    </tr>
  </thead>
  <tbody>
    {% with greater_total=data|dictsort:"total"|last %}
    {% for year in data %}
    <tr data-year="{{ year.year }}">
        <th>
            <a href="#por-subfuncao-{{type}}-{{ year.year }}">{{ year.year }}</a>
        </th>
      <td class="bar-parent">
          <a href="#por-subfuncao-{{ type }}-{{ year.year }}">
        <div class="bar" style="width: {% widthratio year.total greater_total.total 100 %}%">
          {% for item in year.gnds%}
          <span class="label" data-name="{{ item.name }}">{{ item.name }}</span>
          <span class="value fg-{{item.slug}}" data-execution="{{ item.percent|unlocalize }}"
                                               style="width: {% widthratio item.percent 1 100 %}%">
            {% widthratio item.percent 1 100 %}%
          </span>
          {% endfor %}
        </div>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>R$ 0</td>
      <td>R$ {{ greater_total.total|intcomma }}</td>
    </tr>
  </tfoot>
  {% endwith %}
</table>

