{% load humanize %}
{% load l10n %}
{% load format %}
<div class="card" data-year="{{ title }}">
  <header>
    <h3 class="title">{{ title }}</h3>
    <div class="value">
      {% if data.total %}R$ {{ data.total }}{% else %}-{% endif %}
    </div>
  </header>
  <div class="body">
    <table>
      <tbody>
        {% for item in data.gnds%}
        {% if item.slug %}
        <tr data-name="{{ item.slug}}"
            data-year="{{ title }}"
            data-value="{{ item.value|default:0|unlocalize }}"
            data-execution="{{ item.percent|unlocalize }}">
          <td>
            <span class="fg-{{ item.slug }}" title="{{ item.name }}">●</span>
            {{ item.percent | percentage | floatformat:2 }}%
          </td>
          <td>{% if item.value %}R$ {{ item.value }}{% else %}-{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
