{% load humanize %}
{% load l10n %}
<aside>
  {% for year in data %}
  <div id="por-subgrupo-{{ type }}-{{ year.year }}" class="card {%if forloop.first %}active{%endif%}" data-year="{{ year.year }}">
    <header>
      <h3 class="title">{{ year.year }}</h3>
      <ul>
        {% for y in data %}
        <li {% if year.year == y.year %}class="active"{% endif %}>
          <a href="#por-subgrupo-{{ type }}-{{ y.year }}" title="{{y.year}}">●</a></li>
        {% endfor %}
      </ul>
    </header>
    <div class="body">
      <table>
        <tbody>
          {% for item in year.subgrupos %}
          <tr data-name="{{ item.subgrupo }}"
              data-year="{{ year.year }}"
              data-value="{{ item.value|unlocalize }}"
              >
              <th>
                <span>{{ item.subgrupo }}</span>
                {% include 'geologia/_card.html' with title=item.subgrupo data=item%}
              </th>
              <td class="bar-parent">
                <div class="bar" style="width: 100%">
                  {% for item in item.gnds%}
                  <span class="label">{{ item.name }}</span>
                  <span class="value fg-{{item.slug}}"
                        data-group="{{ item.subgrupo}}"
                        data-name="{{ item.slug}}"
                        data-value="{{ item.value|unlocalize }}"
                        data-currency-value="{% if item.value %}{{ item.value|intcomma }}{% else %}-{% endif %}"
                        data-percent="{% widthratio item.percent 1 100 %}"
                        style="width: {% widthratio item.percent 1 100 %}%">
                    {% widthratio item.percent 1 100 %}%
                  </span>
                  {% endfor %}
                </div>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</aside>

