{% extends 'base.html'  %}{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Geologia{% endblock %}

{%block head %}
  <meta property="og:locale" content="pt_BR">

  <meta property="og:title" content="Geologia Orçamentária - SMESP">
  <meta property="og:site_name" content="Geologia Orçamentária - SMESP">
  <meta property="og:description" content="Conheça a ferramenta Geologia Orçamentária da Secretaria da Educação de São Paulo.">

  <meta property="og:type" content="website">


  <meta property="og:image" content="{% static 'img/og-geologia.png' %}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="854">
  <meta property="og:image:height" content="216">

  <link rel="stylesheet" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" href="{% static 'css/geologia.css' %}">
  <script src="{% static 'js/stream-chart.js' %}"></script>
  <script src="{% static 'js/bar-chart.js' %}"></script>
  <script src="{% static 'js/punchcard-chart.js' %}"></script>
{% endblock %}

{%block header %}
  <h1>Geologia Orçamentária</h1>
  <p>Os gastos na educação em São Paulo</p>
  {% include '_header_nav.html' with about='geologia:sobre' %}
{% endblock %}
{%block sections %}
  <section id="camadas">
    <div class="wrapper">
      <h2>Conheça as <em>camadas</em> do orçamento</h2>
      <p>Passe o mouse pelo gráfico para entender como se distribuem os gastos em educação na cidade de São Paulo de acordo com a natureza da despesa ao longo dos anos.</p>
      <form action="" method="get" class="query">
      <fieldset>
        <div class="form-item switch">
          <input type="checkbox" name="executed" id="executed-switch">
          <label for="executed-switch">Orçamento atualizado</label>
          <label for="executed-switch">Empenhado</label>
        </div>
      </fieldset>
      </form>
      <div class="stream-chart chart">
          <div class="card-wrapper orcado">
          {% for year in camadas.orcado%}
              {% include 'geologia/_card.html' with title=year.year data=year%}
          {% endfor %}
          </div>
          <div class="card-wrapper empenhado">
          {% for year in camadas.empenhado %}
              {% include 'geologia/_card.html' with title=year.year data=year%}
          {% endfor %}
          </div>
      </div>
      <p>Natureza das despesas:</p>
      <ul class="legend">
          {% for gnd in gnds %}
          <li class="fg-{{ gnd.slug }}" data-gnd="{{ gnd.slug }}">
              {% include 'geologia/_gnd_item.html' with slug=gnd.slug desc=gnd.desc%}
          </li>
          {% endfor %}
      </ul>
      <div class="actions">
          <a class="btn" href="{% url 'geologia:download' chart='camadas'%}">Download dos Dados por natureza</a>
      </div>
  </div>
  </section>
  <section id="por-subfuncao">
    <div class="wrapper">
      <h2>Volume de gastos por <em>subfunção</em></h2>
      <p>Escolha uma categoria para entender em detalhes sua evolução ao longo do tempo e sua distribuição de acordo com a natureza da despesa.</p>
      <form action="#por-subfuncao" method="get" class="query">
      <fieldset>
        <div class="form-item">
            <select name="subfuncao_id">
                  <option value="">Selecione a subfunção</option>
              {% for subfuncao in subfuncoes %}
                  <option value="{{subfuncao.id}}" {% if subfuncao.selecionado %}selected{%endif%}>{{ subfuncao.desc }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-item switch">
          <input type="checkbox" checked name="empenhado" id="por-subfuncao-filtro">
          <label for="por-subfuncao-filtro">Orçamento atualizado</label>
          <label for="por-subfuncao-filtro">Empenhado</label>
        </div>
        <input class="submit" type="submit" value="Filtrar" name="go">
      </fieldset>
      </form>
      <div class="chart-set">
      <div class="chart">
          {% include 'geologia/_bar-chart.html' with data=subfuncao.empenhado type='empenhado' %}
          {% include 'geologia/_bar-chart-aside.html' with data=subfuncao.empenhado type='empenhado' %}
      </div>
      <div class="chart">
          {% include 'geologia/_bar-chart.html' with data=subfuncao.orcado type='orcado'%}
          {% include 'geologia/_bar-chart-aside.html' with data=subfuncao.orcado type='orcado' %}
      </div>
      </div>
      <div class="actions">
          <a class="btn" href="{% url 'geologia:download' chart='subfuncao'%}">Download dos Dados por subfunção</a>
      </div>
    </div>
  </section>
  <section id="por-subgrupo">
    <div class="wrapper">
      <h2>Volume de gastos por <em>subgrupo</em></h2>
      <p>Escolha de uma a três categorias para comparar despesas no tempo e por natureza de despesa.</p>
      <form action="" method="get" class="query">
      <fieldset>
        <div class="form-item switch">
          <input type="checkbox" checked name="empenhado" id="por-subgrupo-filtro">
          <label for="por-subgrupo-filtro">Orçamento atualizado</label>
          <label for="por-subgrupo-filtro">Empenhado</label>
        </div>
      </fieldset>
      </form>
      <div class="chart">
          <div class="punchcard">
              {% for i in '012' %}
              <div class="column">
                  <header></header>
                  <ul class="axis">
                  {% for gnd in gnds reversed %}
                      <li>
                          <div data-gnd="{{ gnd.slug }}" class="{{ gnd.slug }} gnd">
                              {% include 'geologia/_gnd_item.html' with slug=gnd.slug desc=gnd.desc%}
                              <div class="percent">0%</div>
                              <div class="value">R$ 0</div>
                          </div>
                      </li>
                  {% endfor %}
                  </ul>
              </div>
              {% endfor %}
          </div>
          <div class="chart-set">
              {% include 'geologia/_punchcard-chart-aside.html' with data=subgrupo.empenhado type='empenhado' %}
              {% include 'geologia/_punchcard-chart-aside.html' with data=subgrupo.orcado type='orcado' %}
          </div>
      </div>
      <div class="actions">
          <a class="btn" href="{% url 'geologia:download' chart='subgrupo'%}">Download dos Dados por subgrupo</a>
      </div>
    </div>
  </section>
{% endblock %}

{%block fb_link %}https://www.facebook.com/sharer/sharer.php?u=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/geologia/{% endblock %}

{%block tw_link %}https://twitter.com/intent/tweet?text=Conheça%20a%20ferramenta%20Geologia%20Orçamentária%20do%20projeto%20Livro%20Aberto%20da%20Secretaria%20da%20Educação%20de%20São%20Paulo&url=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/geologia/{% endblock %}
