{% extends 'base.html'  %}{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Geologia{% endblock %}

{%block head %}
  <meta property="og:locale" content="pt_BR">

  <meta property="og:title" content="Geologia Orçamentária - SMESP">
  <meta property="og:site_name" content="Geologia Orçamentária - SMESP">
  <meta property="og:description" content="Conheça a ferramenta Geologia Orçamentária da Secretaria da Educação de São Paulo.">

  <meta property="og:type" content="website">


  <meta property="og:image" content="{% static 'img/og-geologia.png' %}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="854">
  <meta property="og:image:height" content="216">

  <link rel="stylesheet" href="{% static 'css/geologia.css' %}">
  <script src="{% static 'js/stream-chart.js' %}"></script>
  <script src="{% static 'js/bar-chart.js' %}"></script>
{% endblock %}

{%block header %}
  <h1>Geologia Orçamentária</h1>
  <p>Os gastos na educação em São Paulo</p>
  {% include '_header_nav.html' with about='geologia:sobre' %}
{% endblock %}
{%block sections %}
  <section id="camadas">
    <div class="wrapper">
      <h2>Conheça as <em>camadas</em> do orçamento</h2>
      <p>Veja a distribuição de gastos em educação na Prefeitura de São Paulo pelas naturezas de despesa ao longo dos anos.</p>
      <form action="" method="get" class="query">
      <fieldset>
        <div class="form-item switch">
          <input type="checkbox" name="executed" id="executed-switch">
          <label for="executed-switch">Orçamento atualizado</label>
          <label for="executed-switch">Empenhado</label>
        </div>
      </fieldset>
      </form>
      <div class="stream-chart chart">
          <table>
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Ano</th>
                      <th>Valor</th>
                      <th>Executado</th>
                  </tr>
              </thead>
              <tbody>
                  {% for year in camadas.empenhado %}
                      {% for item in year.gnds%}
                          <tr data-name="{{ item.slug}}"
                              data-year="{{ year.year }}"
                              data-value="{{ item.value|unlocalize }}"
                              data-execution="{{ item.percent|unlocalize }}">
                          <td>{{ item.name }}</td>
                          <th>{{ year.year }}</th>
                          <td>{% if item.value %}R$ {{ item.value|intcomma }}{% else %}-{% endif %}</td>
                          <td>{% widthratio item.percent 1 100 %}%</td>
                          </tr>
                      {% endfor %}
                  {% endfor %}
              </tbody>
          </table>
          <div class="card-wrapper">
          {% for year in camadas.empenhado %}
              {% include 'geologia/_card.html' with year=year%}
          {% endfor %}
          </div>
      </div>
      <p>Natureza das despesas:</p>
      <ul class="legend">
          {% for gnd in gnds %}
          <li class="fg-{{ gnd.slug }}" data-gnd="{{ gnd.slug }}">
              {% include 'geologia/_gnd_item.html' with slug=gnd.slug desc=gnd.desc%}
          </li>
          {% endfor %}
      </ul>
      <div class="actions">
		  <a class="btn" href="{% url 'geologia:download' chart='camadas'%}">Download dos Dados por natureza</a>
      </div>
  </section>
  <section id="por-programa">
    <div class="wrapper">
      <h2>Volume de gastos por <em>subfunção</em></h2>
      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Subfunção:
        </legend>
        <div class="form-item">
          <label for="query"></label>
          <input class="text" id="query" type="text" name="" value="">
        </div>
        <div class="form-item switch">
          <input class="radio" type="radio" name="break" checked id="by-orgao">
          <label for="by-orgao">Orçamento atualizado</label>
          <input class="radio" type="radio" name="break" value="" id="by-area">
          <label for="by-area">Empenhado</label>
        </div>
      </fieldset>
      </form>
      <div class="chart">
          {% include 'geologia/_bar-chart.html' with subfuncao=subfuncao %}
          <aside>
             {% for year in subfuncao.empenhado %}
                 <div id="por-programa-{{ year.year }}" class="card {%if forloop.first %}active{%endif%}" data-year="{{ year.year }}">
                  <header>
                    <h3 class="title">{{ year.year }}</h3>
                    <small>Orçamento total</small>
                    <div class="value">
                      {% if year.total %}R$ {{ year.total|intcomma }}{% else %}-{% endif %}
                    </div>
                  </header>
                  <div class="body">
                    <table>
                      <tbody>
                        {% for item in year.gnds%}
                        {% if item.slug %}
                        <tr data-name="{{ item.slug}}"
                            data-year="{{ year.year }}"
                            data-value="{{ item.value|unlocalize }}"
                            data-execution="{{ item.percent|unlocalize }}">
                          <td>
                            <span class="fg-{{ item.slug }}" title="{{ item.name }}">
                                {% include 'geologia/_gnd_item.html' with slug=item.slug %}
                            </span>
                            {% widthratio item.percent 1 100 %}%
                          </td>
                          <td>{% if item.value %}R$ {{ item.value|intcomma }}{% else %}-{% endif %}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
             {% endfor %}
          </div>
      </div>
    </div>
  </section>
  <section id="por-funcao">
    <div class="wrapper">
      <h2>Volume de gastos por <em>subgrupo</em></h2>
      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Subgrupo:
        </legend>
        <div class="form-item switch">
          <input class="radio" type="radio" name="break" checked id="by-orgao">
          <label for="by-orgao">Orçamento atualizado</label>
          <input class="radio" type="radio" name="break" value="" id="by-area">
          <label for="by-area">Empenhado</label>
        </div>
      </fieldset>
      </form>
    </div>
  </section>
{% endblock %}

{%block fb_link %}https://www.facebook.com/sharer/sharer.php?u=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/geologia/{% endblock %}

{%block tw_link %}https://twitter.com/intent/tweet?text=Conheça%20a%20ferramenta%20Geologia%20Orçamentária%20do%20projeto%20Livro%20Aberto%20da%20Secretaria%20da%20Educação%20de%20São%20Paulo&url=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/geologia/{% endblock %}
