{% extends 'base.html'  %}{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Geologia{% endblock %}

{%block head %}
<link rel="stylesheet" href="{% static 'css/geologia.css' %}">
<script src="{% static 'js/stream-chart.js' %}"></script>
{% endblock %}

{%block header %}
<h1>Geologia Orçamentária</h1>
<p>Os gastos na educação em São Paulo</p>
{% include '_header_nav.html' %}
{% endblock %}

{%block sections %}
<div class="wrapper container">

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="card sobre">
      <input type="button" value="voltar" onclick="window.history.back()" class="voltar" />
      <h1>So<br />bre</h1>
      <p>O objetivo da ferramenta Geologia Orçamentária é demonstrar <strong>a alocação dos gastos em Educação da
          Prefeitura de São Paulo ao longo do tempo</strong>, por meio de camadas que representam grupos de natureza de
        despesa e visualizações auxiliares que permitem maior detalhamento dos gastos.</p>
    </div>
    <ul>
      <li class="active"><a href="{% url 'geologia:sobre' %}">Sobre o geologia</a></li>
      <li><a href="{% url 'geologia:tutorial' %}">Tutorial</a></li>
    </ul>
  </div>
  <!-- End Sidebar -->

  <div class="main">
    <div class="sobre_mosaico">

      <!-- Part 1 -->
      <div class="content verde">
        <div class="txt">
          <h2>Sobre <span> &#x276f; Geologia Orçamentária</span></h2>
          <p>A ferramenta permite visualizar o Orçamento da Secretaria Municipal de Educação de São Paulo em camadas
            representativas de <strong>naturezas de despesa.</strong></p>
          <p>A natureza de despesa é um atributo que permite distinguir entre o que o governo gasta com pagamento de pessoal, custeio, investimentos e gastos financeiros. A classificação orçamentária oficial, tal como consta no Manual Técnico de Orçamento do Tesouro Nacional, prevê seis possíveis <strong>GRUPOS DE NATUREZA DE DESPESA: Pessoal e Encargos Sociais, Juros e Encargos da Dívida ou Outras Despesas Correntes</strong> (que são despesas correntes) e <strong>Investimentos, Inversões Financeiras ou Amortização da Dívida</strong> (que são despesas de capital). Vale ressaltar que no orçamento da Secretaria Municipal de Educação (SME) de São Paulo, apenas os grupos de Pessoal e Encargos Sociais, Outras Despesas Correntes e Investimentos possuem valores registrados, dado que o tipo de despesa que entra nos demais grupos não é executada pela Educação.</p>
          <p>Além disso, a classificação de natureza de despesa pode especificar ainda mais o tipo de gasto por meio de atributos como o <strong>ELEMENTO DE DESPESA</strong>, que tem por finalidade identificar os objetos imediatos de cada despesa, tais como <strong>vencimentos e vantagens fixas, diárias, material de consumo, serviços de terceiros</strong> prestados sob qualquer forma, <strong>subvenções sociais, obras e instalações, equipamentos e material permanente, auxílios, amortização</strong> e outros que a Administração Pública utiliza para a consecução de seus fins.</p>
          <p>Para tornar a ferramenta mais amigável em termos da linguagem utilizada, criou-se uma tipologia alternativa de grupos de natureza de despesa com base em combinações dos grupos originais e dos elementos de despesa típicos das despesas com educação. As categorias utilizadas na ferramenta são:</p>
        </div>
        <ul>
          <li>Investimentos – Imóvel e Material Permanente;</li>
          <li>Investimentos – Obras;</li>
          <li>Investimentos – Consultoria;</li>
          <li>Despesas de Exercícios Anteriores;</li>
          <li>Auxílios e Contribuições;</li>
          <li>Custeio Operacional;</li>
          <li>Serviços de Terceiros;</li>
          <li>Pessoal e Encargos;</li>
        </ul>

        <div class="txt">
          <p>A ferramenta também permite seleções para maior detalhamento da informação a partir de suas visualizações auxiliares. É possível fazer seleções de <strong>subfunções</strong> - um atributo usual da classificação orçamentária funcional - e de <strong>subgrupos</strong> - uma categoria criada pela FGV junto com a SME/SP especificamente para gastos em educação, também utilizada para a ferramenta <strong>Mosaico Orçamentário</strong>.</p>
        </div>

        <div class="txt">
          <p>A <strong>SUBFUNÇÃO</strong> representa uma partição da função, visando agregar determinado subconjunto de despesas do setor público. Por exemplo, a função Educação se subdivide em subfunções como Educação Infantil, Educação Básica, etc.</p>
        </div>

        <div class="txt">
          <p>O <strong>SUBGRUPO</strong> é uma classificação alternativa criada especificamente para as ferramentas do Livro Aberto. Por exemplo: uma despesa de pagamento de fornecedores de serviço de transporte escolar será categorizada no Subgrupo “Transporte Escolar”. É uma nomenclatura que reflete de forma mais direta a área temática do gasto. A tipologia foi elaborada em conjunto entre a SME/SP e a FGV/DAPP por meio da análise de outros atributos das despesas, em especial, o agrupamento das ações orçamentárias (Projeto/Atividade). Essa tipologia foi realizada no âmbito dos Planos Plurianuais (PPAs) de 2010-2013, 2014-2017 e 2018-2021, razão pela qual esses dados não estão disponíveis, nesta visualização específica, para anos anteriores a 2010.</p>
        </div>
        
        <div class="txt">
          <p>O universo de dados é obtido a partir da identificação do ÓRGÃO de governo ou unidade administrativa que, no caso, é a Secretaria Municipal de Educação (SME/SP). Os dados foram retirados da API do SOF (Sistema de Execução Orçamentária) da Prefeitura de São Paulo e da base de dados de execução orçamentária disponibilizada pela Secretaria de Fazenda da Prefeitura de São Paulo.</p>
        </div>

      </div>
      <!-- End Parte 1 -->

      <!-- Part 2 -->

      <div class="content verde">
        <div class="txt">
          <h2>Sobre <span> &#x276f; O Processo de Execução</span></h2>

          <p>A ferramenta contém um seletor que permite alternar entre despesas orçadas e despesas executadas, segundo um determinado critério de execução de despesas públicas. Na ferramenta Geologia, usamos as seguintes referências para os <strong>valores das despesas:</strong></p>

          <p>O <strong>VALOR ORÇADO ATUALIZADO</strong> remete ao valor previsto para gasto em cada rubrica. É importante ressaltar que, estes valores são alterados ao longo do ano, seja via créditos (extraordinários, adicionais e suplementares) ou via dotações canceladas. Os valores informados se referem ao número mais atualizado, após alterações e podem, portanto diferir do valor inicial previsto na Lei Orçamentária Anual (LOA).</p>

          <p>O <strong>VALOR EMPENHADO LÍQUIDO</strong> remete ao montante que foi executado do ponto de vista orçamentário: trata-se de toda reserva financeira realizada para atender fins específicos. As despesas empenhadas precisam ainda ser liquidadas e pagas para completarem o ciclo, mas a contabilidade pública usa o empenho como critério de execução. A ideia de “líquido” se refere ao fato de que empenhos podem eventualmente ser cancelados, de modo que a métrica utilizada na ferramenta já desconta esses cancelamentos.</p>

        </div>

      </div>
      <!-- End Part 2 -->

      <!-- Part 3 -->
      <div class="content verde">
        <div class="txt">
          <h2>Sobre <span> &#x276f; Deflacionamento</span></h2>

          <p>Assim como muitas variáveis econômicas, as despesas públicas são apresentadas em moeda nacional. O problema é que, ao contrário de outras unidades de medida, o valor da moeda varia ao longo do tempo. Isto se deve à inflação, ou seja, à elevação do nível geral de preços, que faz com que o poder de compra da moeda diminua ao longo dos anos (uma deflação, caso contrário, elevaria o poder de compra). Em termos práticos, a inflação faz com que R$ 1 neste ano tenha menos valor do que o mesmo R$ 1 em qualquer ano do passado. De forma equivalente, R$ 1 hoje vale mais do que R$ 1 no futuro.</p>

          <p>Para que os efeitos da inflação não distorçam as análises que comparam os dados em diferentes anos, é importante que se considere o efeito da mudança de valor da moeda. <strong>Por essa razão, todas as visualizações da ferramenta são construídas a partir de valores reais, isto é, valores trazidos a preços presentes.</strong></p>

          <p><strong>Como foi feito o deflacionamento nesta ferramenta?</strong></p>

          <p>O Índice de Preços ao Consumidor Amplo (IPCA) do IBGE foi o índice selecionado para deflacionar as séries de dados utilizados na ferramenta. O IPCA é adotado pelo Banco Central como o índice de referência para o cumprimento do regime de metas de inflação. Isto faz com que este índice seja bastante divulgado e conhecido entre os brasileiros.</p>

          <p>Para deflacionar as séries, utilizamos a tabela do IPCA (em formato zip) que está disponibilizado na página do IBGE. Os dados utilizados estão disponíveis na planilha <strong>“Série Histórica IPCA”</strong>, na coluna <strong>“Número Índice (Dez 93 = 100)”</strong>. Para cada ano entre 2010 e o mais atual, foi adotado o número de fechamento, ou seja o valor do índice em dezembro. A série do deflator tem o ano mais recente como a sua base. Desta forma, usando a série abaixo é correto afirmar que os valores deflacionados são apresentados a preços de 2018, que é o ano mais recente da ferramenta até o momento.</p>

        </div>

        <table class="table__about">
          <tr>
            <th>Ano</th>
            <th>Número Índice (Fev de 2019 = 1)</th>
          </tr>
          <tr>
            <td>2003</td>
            <td>0,434</td>
          </tr>
          <tr>
            <td>2004</td>
            <td>0,467</td>
          </tr>
          <tr>
            <td>2005</td>
            <td>0,493</td>
          </tr>
          <tr>
            <td>2006</td>
            <td>0,509</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>0,532</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>0,563</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>0,587</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>0,622</td>
          </tr>
          <tr>
            <td>2011</td>
            <td>0,662</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>0,701</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>0,742</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>0,790</td>
          </tr>
          <tr>
            <td>2015</td>
            <td>0,874</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>0,929</td>
          </tr>
          <tr>
            <td>2017</td>
            <td>0,957</td>
          </tr>
          <tr>
            <td>2018</td>
            <td>0,993</td>
          </tr>
          <tr>
            <td>2019</td>
            <td>1,000</td>
          </tr>
        </table>

        <div class="txt">
          <p>Em posse da série de deflatores, basta dividir cada observação da série de dados orçamentários pela observação correspondente da série do deflator para obter a série temporal do orçamento deflacionada.</p>
        </div>

      </div>
      <!-- End Part 3 -->

    </div>
  </div>

</div>
{% endblock %}