[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
openpyxl = "*"
django-extensions = "*"

[dev-packages]
ipdb = "*"
model-mommy = "*"
pytest = "*"

[requires]
python_version = "3.7"
