[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
openpyxl = "*"
django-extensions = "*"
django-rest-framework = "*"
django-filter = "*"
djangorestframework-csv = "*"
pandas = "*"
xlrd = "*"
drf-renderer-xlsx = "==0.3.3"
requests = "*"
sentry-sdk = "*"
celery = "*"
django-fullurl = "*"
ipdb = "*"

[dev-packages]
ipdb = "*"
model-mommy = "*"
pytest = "*"
pytest-django = "*"
pytest-freezegun = "*"

[requires]
python_version = "3.7"
