{% load humanize %}
{% load l10n %}
<header>
  <p>
  <span class="big-number">
    <strong>
      R$ {{ big_number | intcomma }}
    </strong>
  </span>
  foram previstos em contratos para a educação da cidade de São Paulo em
  <em>2018</em>
  </p>
</header>
<div class="body">
  <div class="bar-parent">
    <div class="bar" style="width: 100%">
      <span class="value"
            data-value="{{ liquidado | unlocalize }}"
            data-currency-value="{% if liquidado %}{{ liquidado |intcomma }}{% else %}-{% endif %}"
            data-percent="{% widthratio liquidado_percent 1 100 %}"
            style="width: {% widthratio liquidado_percent 1 100 %}%">
        {% widthratio liquidado_percent 1 100 %}%
      </span>
    </div>
  </div>
</div>
<footer>
  <p>
  No ciclo orçamentário, o valor reservado para ser gasto em um ano é chamado de 'valor
  empenhado'. Já o valor efetivamente executado e que será pago, neste caso, é o 'valor
  liquidado'. O valor liquidado pode ser diferente do empenhado, pois os pagamentos dependem
  de diversos fatores, como a realização satisfatória de serviços e entregas por parte da
  contratada ou mesmo sua inexecução parcial ou integral, por exemplo.
  </p>
</footer>
