{% load humanize %}
<header>
  <p>
  <span class="big-number">
    <strong>
      R$ {{ big_number | intcomma }}
    </strong>
  </span>
  foram previstos em contratos para a educação da cidade de São Paulo em
  <em>2018</em>
  </p>
</header>
<footer>
  <p>
  No ciclo orçamentário, o valor reservado para ser gasto em um ano é chamado de 'valor
  empenhado'. Já o valor efetivamente executado e que será pago, neste caso, é o 'valor
  liquidado'. O valor liquidado pode ser diferente do empenhado, pois os pagamentos dependem
  de diversos fatores, como a realização satisfatória de serviços e entregas por parte da
  contratada ou mesmo sua inexecução parcial ou integral, por exemplo.
  </p>
</footer>
