{% extends 'base.html'  %}{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Contratos{% endblock %}

{%block head %}
  <meta property="og:locale" content="pt_BR">

  <meta property="og:title" content="Contrato Social - SMESP">
  <meta property="og:site_name" content="Contrato Social - SMESP">
  <meta property="og:description" content="Conheça a ferramenta Contrato Social da Secretaria Municipal de Educação de São Paulo.">

  <meta property="og:type" content="website">


  <meta property="og:image" content="{% static 'contratos/img/og-contratos.png' %}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="854">
  <meta property="og:image:height" content="216">

  <link rel="stylesheet" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" href="{% static 'contratos/css/contratos.css' %}">
  <script type="text/javascript" src="{% static 'contratos/js/destination.js' %}"></script>
{% endblock %}

{%block header %}
  <h1>Contrato Social</h1>
  <p>Execução de Contratos da Educação em São Paulo</p>
  {% include '_header_nav.html' with about='contratos:sobre' methodology='contratos:metodologia' last_update_header='Última atualização em: ' %}
{% endblock %}
{%block sections %}
  <section id="total">
    <div class="wrapper">
        {% include 'contratos/_big_number.html' with big_number=big_number.empenhado liquidado=big_number.liquidado liquidado_percent=big_number.percent_liquidado %}
    </div>
  </section>
  <section id="destino">
    <div class="wrapper">
      <h2>Este valor teve como <em>destino</em></h2>
      <form action="#destino" method="get">
          <input type="hidden" name="{{ filter_form.year.name }}" value="{{filter_form.year.value|unlocalize}}">
      <ul class="legend">
        {% for destination in destinations %}
          {% include 'contratos/_legend_item.html' with destination=destination %}
        {% endfor %}
      </ul>
      <div class="bar-parent{% if filter_form.category.value%} selected{% endif %}">
        <div class="bar">
            {% for destination in destinations %}
              {% if filter_form.category.value == destination.categoria_id %}
                  {% include 'contratos/_bar.html' with total_empenhado=big_number.empenhado empenhado=destination.empenhado liquidado=destination.liquidado slug=destination.categoria_slug class='active'%}
              {% else %}
                  {% include 'contratos/_bar.html' with total_empenhado=big_number.empenhado empenhado=destination.empenhado liquidado=destination.liquidado slug=destination.categoria_slug %}
              {% endif %}
            {% endfor %}
        </div>
      </div>
        <input class="submit" type="submit" value="Filtrar" name="go">
      </form>
    </div>
  </section>
  <section id="top-5">
    <div class="wrapper">
      <h2>Top 5 <em>contratos</em></h2>
      <form action="#top-5" method="get">
          <legend class="form-item">
              Visualizar:
          </legend>
          <div class="form-item">
            <select id="{{ filter_form.year.id_for_label }}" name="{{ filter_form.year.name }}">
                {% localize off %}
                {% for value, label in filter_form.year.field.choices %}
                    <option value="{{ value }}"
                            {% if value|unlocalize == filter_form.year.value|unlocalize %}selected{% endif %}>{{ label }}

                    </option>
                {% endfor %}
                {% endlocalize %}
            </select>
          </div>
          <div class="form-item">
              {{ filter_form.category }}
          </div>
        <input class="submit" type="submit" value="Filtrar" name="go">
      </form>
      <table>
          <thead>
              <tr>
                  <th>Fornecedor</th>
                  <th>Categoria</th>
                  <th>Modalidade</th>
                  <th>Valor</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for contrato in top5 %}
              <tr>
                  <th>{{ contrato.fornecedor }}</th>
                  <td>{{ contrato.categoria_name }}</td>
                  <td>{{ contrato.modalidade }}</td>
                  <td>R$ {{ contrato.empenhado | floatformat:2 }}</td>
                  <td>
                      <div class="description-parent">
                          <div class="description-box">
                              <h3>Objeto do contrato</h3>
                              <p>
                                  {{ contrato.objeto_contrato }}
                              </p>
                          </div>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="actions">
          <a class="btn" href="{% url 'contratos:download' %}?year={{ big_number.year|unlocalize }}">Download dos Dados</a>
      </div>
    </div>
  </section>
{% endblock %}

{%block fb_link %}https://www.facebook.com/sharer/sharer.php?u=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos/{% endblock %}

{%block tw_link %}https://twitter.com/intent/tweet?text=Conheça%20a%20ferramenta%20Contrato%20Social%20do%20projeto%20Livro%20Aberto%20da%20Secretaria%20Municipal%20de%20Educação%20de%20São%20Paulo&url=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos/{% endblock %}

{%block tg_link %}https://telegram.me/share/url?url=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos/&text=Conheça%20a%20ferramenta%20Contrato%20Social%20do%20projeto%20Livro%20Aberto%20da%20Secretaria%20Municipal%20de%20Educação%20de%20São%20Paulo{% endblock %}
