{% extends 'base.html'  %}{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Contratos{% endblock %}

{%block head %}
  <meta property="og:locale" content="pt_BR">

  <meta property="og:title" content="Transparência em Contratos - SMESP">
  <meta property="og:site_name" content="Transparência em Contratos - SMESP">
  <meta property="og:description" content="Conheça a ferramenta Transparência em Contratos da Secretaria da Educação de São Paulo.">

  <meta property="og:type" content="website">


  <meta property="og:image" content="{% static 'contratos/img/og-contratos.png' %}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="854">
  <meta property="og:image:height" content="216">

  <link rel="stylesheet" href="{% static 'css/bar.css' %}">
  <link rel="stylesheet" href="{% static 'contratos/css/contratos.css' %}">
{% endblock %}

{%block header %}
  <h1>Transparência em Contratos</h1>
  <p>Execução de Contratos da Educação em São Paulo</p>
  {% include '_header_nav.html' with about='contratos:sobre' %}
{% endblock %}
{%block sections %}
  <section id="total">
    <div class="wrapper">
        {% include 'contratos/_big_number.html' with big_number=big_number.empenhado liquidado=big_number.liquidado liquidado_percent=big_number.percent_liquidado %}
    </div>
  </section>
  <section id="destino">
    <div class="wrapper">
      <h2>Este valor teve como <em>destino</em></h2>
      <ul class="legend">
          {% include 'contratos/_legend_item.html' with slug='acoes-culturais' desc='Ações Culturais' label='Ações Culturais'%}
          {% include 'contratos/_legend_item.html' with slug='alimentacao' desc='Alimentação' label='Alimentação'%}
          {% include 'contratos/_legend_item.html' with slug='contrucoes' desc='Contruções' label='Contruções' %}
          {% include 'contratos/_legend_item.html' with slug='parcerias' desc='Parcerias' label='Parcerias' %}
          {% include 'contratos/_legend_item.html' with slug='pedagogico' desc='Pedagógico' label='Pedagógico' %}

          {% include 'contratos/_legend_item.html' with slug='manutencao' desc='Reformas e Manutenção' label='Reformas e Manutenção' %}
          {% include 'contratos/_legend_item.html' with slug='servicos' desc='Serviços Contínuos' label='Serviços Contínuos' %}
          {% include 'contratos/_legend_item.html' with slug='transportes' desc='Transportes' label='Transportes' %}
          {% include 'contratos/_legend_item.html' with slug='uniformes' desc='Uniformes e Material Escolar' label='Uniformes e Material Escolar' %}
          {% include 'contratos/_legend_item.html' with slug='outros' desc='Outras Aquisições' label='Outras Aquisições' %}
      </ul>
      <div class="bar-parent">
        <div class="bar">
            {% with total_empenhado=1000000 %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='acoes-culturais' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=180000 slug='alimentacao' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='contrucoes' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=20000 slug='parcerias' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='pedagogico' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='manutencao' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='servicos' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='transportes' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='uniformes' %}
                {% include 'contratos/_bar.html' with total_empenhado=total_empenhado empenhado=100000 slug='outros' %}
            {% endwith %}
        </div>
      </div>
    </div>
  </section>
  <section id="top-5">
    <div class="wrapper">
      <h2>Top 5 <em>contratos</em></h2>
      <form action="" method="post">
          <legend class="form-item">
              Visualizar:
          </legend>
          <div class="form-item">
              <select name="year">
                {% for year in filters.years %}
                    <option value="{{ year }}"
                            {% if year == filters.selected_year %}selected{% endif %}
                            >{{ year }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-item">
              <select name="category">
                  <option value="all" selected>Todas as categorias</option>
                  <option value="">Ações Culturais</option>
                  <option value="">Alimentação</option>
                  <option value="">Uniforme e material escolar</option>
              </select>
          </div>
      </form>
      <table>
          <thead>
              <tr>
                  <th>Fornecedor</th>
                  <th>Categoria</th>
                  <th>Modalidade</th>
                  <th>Valor</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for contrato in top5 %}
              <tr>
                  <th>{{ contrato.fornecedor }}</th>
                  <td>{{ contrato.categoria_name }}</td>
                  <td>{{ contrato.modalidade }}</td>
                  <td>R$ {{ contrato.empenhado | intcomma }}</td>
                  <td>
                      <div class="description-parent">
                          <div class="description-box">
                              <h3>Objeto do contrato</h3>
                              <p>
                                  {{ contrato.objeto_contrato }}
                              </p>
                          </div>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div class="actions">
          <a class="btn" href="#">Download de Dados</a>
      </div>
    </div>
  </section>
{% endblock %}

{%block fb_link %}https://www.facebook.com/sharer/sharer.php?u=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos/{% endblock %}

{%block tw_link %}https://twitter.com/intent/tweet?text=Conheça%20a%20ferramenta%20Geologia%20Orçamentária%20do%20projeto%20Livro%20Aberto%20da%20Secretaria%20da%20Educação%20de%20São%20Paulo&url=http://ferramentas.livroaberto.sme.prefeitura.sp.gov.br/contratos/{% endblock %}
