.treemap{
  position: relative;
  padding: 0;
  width: 100%;
  height: 35rem;
}
.treemap a{
  text-decoration: none;
  display: block;
  height: 100%;
}
.treemap > li{
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
}
.treemap > li div:first-child{
  padding-top: 1em;
}
.treemap > li div{
  padding-left: 1em;
  white-space: nowrap;
  text-overflow: clip;
}
.treemap > li .name{
  font-weight: 700;
  text-shadow: 0 0 2em #000;
}

path.line{
  fill: transparent;
  stroke-width: 2;
}

.axis--x path,
.axis--y path {
  stroke: none;
}

.axis line {
  fill: none;
  stroke: #5f6b6d;
  shape-rendering: crispEdges;
}

.axis--y{
  text-anchor: start;
  opacity: 0.5;
}

text{
  font-weight: 700;
  color: #5f6b6d;
}

.timeseries .updated,
.timeseries .payed{
  stroke: currentColor;
  fill: currentColor;
}

.timeseries .line{
  fill: transparent;
}

.timeseries .payed{
  color: #693d89;
}

.timeseries .updated{
  color: #277fcd;
}

.timeseries ul.legend{
  margin: 1em 0;
  padding: 0;
}

.timeseries ul.legend li{
  margin-right: 3em;
  list-style: none;
  font-variant: small-caps;
  display: inline-block;
}

.timeseries ul.legend li:before{
  content: '\25CF';
  margin-right: .5em;
  font-size: 1.5em;
}

.timeseries circle {
  cursor: help;
}

#tooltip {
  position: fixed;
  text-transform: uppercase;
  background: #5f6b6d;
  color: #fff;
}