label[for]{
  cursor: pointer;
}

form.query input[type=radio]{
  display: none;
}

form.query input[type=radio] + label:first-of-type{
  margin-right: 3em;
  position: relative;
}

form.query input[type=radio] + label:first-of-type:after,
form.query input[type=radio] + label:first-of-type:before{
  content: '';
  display: block;
  border-radius: 0.5em;
  position: absolute;
  top: 0.1em;
}

form.query input[type=radio] + label:first-of-type:before{
  background-color: currentColor;
  height: 1em;
  width: 2em;
  right: -2.5em;
}

form.query input[type=radio] + label:first-of-type:after{
  background-color: white;
  width: 0.7em;
  height: 0.7em;
  margin: 0.15em;
  transition: right .3s;
}

form.query input[type=radio]:not(:checked) + label:first-of-type:after{
  right: -2.5em;
}

form.query input[type=radio]:checked + label:first-of-type:after{
  right: -1.5em;
}
