html, body{
  margin: 0;
  padding: 0;
}

body > *{
  padding: 1em;
}

.wrapper{
  margin: auto;
  max-width: 1200px;
}

header{
  padding: 7em 1em 3em;
  height: 15em;
}

header h1,
header h1 + p{
  text-align: center;
  margin: 1rem;
}

header nav{
  margin-top: 7rem;
}

h2:first-child{
  margin-top: 0;
}

section{
  padding-bottom: 2em;
}

section#social{
  text-align: center;
}

section#social nav li{
  display: inline-block;
  margin: 0.5em;
}

section#social nav li a,
section#social svg.icon{
  display: inline-block;
  width: 2em;
  height: 2em;
}

nav ul{
  padding: 0;
}

svg.icon{
  vertical-align: middle;
  height: 1em;
  padding-bottom: .2em;
}

legend{
  margin-bottom: 1em;
  padding: 0;
}

fieldset{
  padding: 0;
  border: none;
}

.form-item{
  display: inline-block;
  margin-right: 3em;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

section footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav *{
  display: block;
}

footer ul{
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
}

footer li{
  list-style: none;
}

footer img{
  height: 12em;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

table thead tr th:first-child{
    border-radius: 4px 0 0 4px;
}

table thead tr th:last-child{
    border-radius: 0 4px 4px 0;
}

thead > tr > *{
  position: relative;
  box-sizing: border-box;
}

thead > tr > *::before{
  content: '';
  position: absolute;
  height: 1.2em;
  left: 0;
  border-right: solid 1px currentColor;
}

tr > *{
  text-align: right;
  padding: 1em;
}

tr > *:first-child{
  text-align: left;
}

tr > *:first-child::before{
  border-right: none;
}
