header{
  background-color: #277fcd;
  background-image: url('../img/bkg-mosaico-header.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* About Section */

.sidebar {
  max-width: 380px;
  align-self: flex-start;
}

.sidebar .card {
  padding: 0 6% 6%;
  overflow: hidden;
}

.sidebar .voltar {
  background-image: url(../images/voltar.png);
  background-repeat: no-repeat;
  display: block;
  background-position: top 3px left;
  padding: 0 0 0 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 28px 0 0 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.sidebar h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  margin: 0 0 30px 0;
}

.sidebar p {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.card.sobre {
  background: #008ecf;
}

.sidebar ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1b3263;
  border-radius: 5px;
  margin: 30px 0;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
  display: flex;
  text-align: center;
}

.sidebar ul li.active {
  background: #1b3263;
}

.sidebar ul li a {
  color: #1b3263;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

.sidebar ul li.active a {
  color: #fff;
}

.main {
  max-width: 780px;
  background: #fff;
}

.main h2 {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 20px;
  position: relative;
}

.main h2:before {
  content: "";
  position: absolute;
  top: -4px;
  width: 62px;
  height: 1px;
}

.main h2 span {
  font-weight: 400;
  text-transform: none;
}

.azul h2,
.azul i,
.azul h3,
.azul span,
.azul .list,
.azul .color,
.azul blockquote {
  color: #008ecf;
}

.azul h2:before {
  background: #008ecf;
}

.main p {
  margin: 0 0 20px;
}

.main ul li {
  margin: 0;
  max-width: 385px;
  padding: 3% 6%;
  color: #008ecf;
}

.main ul li ul {
  margin: 20px 0 0 0;
  align-items: center;
}

.main ul li ul li {
  border: none;
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  max-width: 80px;
}

.azul li,
.azul blockquote {
  border-color: #008ecf;
}

.main h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.main ul li h3 {
  text-transform: none;
  margin: 0;
}

.main .txt {
  padding: 5% 5% 0;
  font-weight: 300;
  color: #4c4c4c;
}

@media (max-width: 800px) {
  .main ul {
      flex-wrap: wrap;
  }
  .main ul.ciclo li {
    padding: 3% 4%;
    width: 100%;    
  }
}

.rosa i,
.rosa h2,
.rosa h3,
.rosa span,
.rosa .list,
.rosa .color, 
.rosa blockquote {
  color: #e8573b;
}

.rosa h2:before {
  background: #e8573b;
}

.main ul.ciclo li {
  border: none;
  text-align: center;
}

.marinho i,
.marinho h2, 
.marinho h3,
.marinho span, 
.marinho .list,
.marinho .color,
.marinho blockquote {
  color: #2344a5;
}

.marinho h2:before {
  background: #2344a5;
}

.verde h2,
.verde h3,
.verde h5,
.verde span,
.verde .list,
.verde .color,
.verde blockquote {
  color: #249a94;
}

.verde h2:before {
  background: #249a94;
}

.verde li,
.verde blockquote {
  border-color: #249a94;
}

.main blockquote {
  border-width: 1px;
  border-style: solid;
  padding: 3%;
  margin: 30px 0;
}

.main blockquote h5 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
}