header{
  background-color: #277fcd;
  background-image: url('../img/bkg-mosaico-header.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* About Section */
.wrapper.container {
  display: flex;
  margin-top: -7em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar {
  width: 300px;
  align-self: flex-start;
}

.sidebar .card {
  padding: 0 6% 6%;
  overflow: hidden;
}

.sidebar .voltar {
  background-image: url(../img/voltar.png);
  background-repeat: no-repeat;
  display: block;
  background-position: top 3px left;
  padding: 0 0 0 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 28px 0 10px 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 22px;
  cursor: pointer;
}

.sidebar h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  margin: 0 0 30px 0;
}

.sidebar p {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.card.sobre {
  background: #80A684;
}

.sidebar ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid #80A684;
  border-radius: 5px;
  margin: 30px 0;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
  display: flex;
  text-align: center;
}

.sidebar ul li.active {
  background: #80A684;
}

.sidebar ul li a {
  color: #80A684;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

.sidebar ul li.active a {
  color: #fff;
}

.main {
  background: #fff;
  padding-top: 2em;
}

.main h2 {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 20px;
  position: relative;
}

.main h2:before {
  content: "";
  position: absolute;
  top: -4px;
  width: 62px;
  height: 1px;
}

.main h2 span {
  font-weight: 400;
  text-transform: none;
}

.verde h2,
.verde i,
.verde h3,
.verde span,
.verde .list,
.verde .color,
.verde blockquote {
  color: #80A684;
}

.verde h2:before {
  background: #80A684;
}

.verde img {
  max-width: 100%;
}

.main p {
  margin: 0 0 20px;
}

.main ul {
  margin-left: 5%;
  padding-inline-start: 2em;
}

.main ul li {
  max-width: 385px;
  padding: .5em 1em;
}

.main ul li ul {
  margin: 20px 0 0 0;
  align-items: center;
}

.list--border {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0 !important;
  margin: 0 !important;
}

.list--border li {
  border: solid 1px #80A684;
}

.list--inline {
  display: block;
  list-style: none;
  padding-left: 0 !important;
  width: 100%;
}

.list--inline li  {
  display: inline-block;
  padding: 5px !important;
  color: #80A684;
}

.main ul li ul li {
  border: none;
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  max-width: 80px;
}

.verde li,
.verde blockquote {
  border-color: #80A684;
}

.main h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.main ul li h3 {
  text-transform: none;
  margin: 0;
}

.main .txt {
  padding: 5% 5% 0;
  font-weight: 300;
  color: #4c4c4c;
}

@media (min-width: 768px) {
  .wrapper.container {
    flex-wrap: nowrap;
  }
  .main {
    max-width: 70%;
  }

  .main ul {
      flex-wrap: wrap;
  }
  .main ul.ciclo li {
    padding: 3% 4%;
    width: 100%;    
  }

  .list--border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: nowrap !important;
    padding-left: 0 !important;
    margin: 0 !important;
  }
  
  .list--border li {
    border: solid 1px #80A684;
  }
  
  .list--inline {
    flex-wrap: nowrap;
    display: flex;
    list-style: none;
    padding-left: 0 !important;
    width: 100%;
  }
  
  .list--inline li  {
    padding: 5px !important;
    color: #80A684;
  }
}

.main ul.ciclo li {
  border: none;
  text-align: center;
}

.ciclo--text-left li {
  text-align: left !important;
}

.main blockquote {
  border-width: 1px;
  border-style: solid;
  padding: 3%;
  margin: 30px 0;
}

.main blockquote h5 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
}

.table__about {
  width: auto;
  margin: 0 auto;
}

.table__about th {
  background: #80A684;
  color: #fff;
  border: solid 1px #80A684;
}

.table__about td {
  border: solid 1px #80A684;
  border-top: none;
}

.table__about th,
.table__about td {
  text-align: center;
}