body{
  font-family: 'Nunito', 'Ubuntu', sans-serif;
}

h1{
  font-size: 5em;
  line-height: 1;
  font-weight: 300;
}

header h1 + p{
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

header nav{
  text-transform: uppercase;
  font-weight: bold;
}

h2{
  font-weight: normal;
  font-size: 2.375em;
  line-height: 3em;
}

h2 > em{
  font-style: normal;
  font-weight: bold;
}

p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1rem;
}

header nav a{
  text-decoration: none;
}

select,
a.btn,
form.query label{
  text-transform: uppercase;
  font-weight: 700;
}

.breadcrumb a,
a.btn{
  text-decoration: none;
}

section#mosaico .breadcrumb{
  font-size: 2em;
}

.breadcrumb > li > ::before{
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  content: "/";
}

th{
  text-transform: uppercase;
  font-weight: normal;
}

thead th{
  font-weight: 700;
}
