{% extends 'base.html'  %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}Mosaico{% endblock %}

{%block head %}
  <link rel="stylesheet" href="{% static 'css/mosaico.css' %}">
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
  <script src="{% static 'js/treemap.js' %}"></script>
  <script src="{% static 'js/timeseries.js' %}"></script>
{% endblock %}

{%block header %}
  <h1>Mosaico Orçamentário</h1>
  <p>Orçamento da Educação ao seu alcance</p>
{% endblock %}

{%block sections %}
  <section id="mosaico">
    <div class="wrapper">
      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Visualizar
        </legend>
        <div class="form-item switch">
          <input class="radio" type="radio" name="break" checked id="simple">
          <label for="simple">Visão simplificada</label>
          <input class="radio" type="radio" name="break" id="pro">
          <label for="pro">Visão técnica</label>
        </div>
        <div class="form-item">
          <input class="radio" type="radio" name="universe" value="">
          <label>Educação</label>
          <input class="radio" type="radio" name="universe" value="">
          <label>Mínimo constitucional</label>
        </div>
        <select name="year">
            {% for year, values in timeseries.items %}
                <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
      </fieldset>
      </form>
      {% include '_breadcrumb.html' with breadcrumb=breadcrumb anchor='mosaico' %}
      </nav>
      <ol class="treemap">
          {% for execucao in execucoes %}
          <li data-execution="{{ execucao.percentual_empenhado|unlocalize}}" data-value="{{ execucao.orcado_total|unlocalize }}">
                  <a href="{{ execucao.url}}#mosaico">
                  <div class="value">R$ {{ execucao.orcado_total|intword }} </div>
                  <div class="name">{{ execucao.nome }}</div>
                  <div class="execution">{% widthratio execucao.percentual_empenhado 1 100 %}%</div>
                  </a>
              </li>
          {% endfor %}
      </ol>
      <footer>
          <div class="legend">
              {# TODO: think on a progressive strategy of loading legend #}
              <img src="{% static 'img/escala_cor_mosaico.svg' %}" width="400" alt="">
          </div>
          <div class="actions">
              <a class="btn" href="">Dados do gráfico</a>
              <a class="btn" href="">Dados da tela</a>
          </div>
      </footer>
    </div>
  </section>
  <section id="budget-over-time">
    <div class="wrapper">
      <h2>Orçamento x <em>Tempo</em></h2>
      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Visualizar
        </legend>
        <div class="form-item switch">
          <input type="checkbox" name="break" checked id="use-deflator">
          <label for="use-deflator">Valores corrigidos</label>
          <label for="use-deflator">Valores correntes</label>
        </div>
      </fieldset>
      </form>
      {% include '_breadcrumb.html' with breadcrumb=breadcrumb anchor='budget-over-time' %}
      <div class="timeseries chart">
          <table>
              <thead>
                  <tr>
                      <th>Ano</th>
                      <th>Valor atualizado</th>
                      <th>Valor pago</th>
                  </tr>
              </thead>
              <tbody>
		  {% for year, values in timeseries.items %}
                  <tr>
			  <th data-year="{{ year }}">{{ year }}</th>
			  <td data-updated="{{ values.orcado|unlocalize }}">R${{ values.orcado }}</td>
			  <td data-paid="{{ values.empenhado|unlocalize }}">R${{ values.empenhado }}</td>
                  </tr>
		  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </section>
  <section id="data-table">
    <div class="wrapper">
      <h2><em>Tabela</em> de Dados</h2>
      {% include '_breadcrumb.html' with breadcrumb=breadcrumb anchor='data-table' %}
      <table>
          <thead>
              <tr>
                  <th>Área</th>
                  <th>Orçamento</th>
                  <th>Empenhado</th>
                  <th>Execução</th>
              </tr>
          </thead>
          <tbody>
          {% for execucao in execucoes %}
              <tr>
                  <th>{{ execucao.nome }}</th>
                  <td>R$ {{ execucao.orcado_total|intcomma }} </td>
                  <td>R$ {{ execucao.empenhado_total|intcomma}} </td>
                  <td>{% widthratio execucao.percentual_empenhado 1 100 %}%</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </section>
{% endblock %}
