{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Mosaico • Transparência Orçamentária</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900|Ubuntu:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  <link rel="stylesheet" href="{% static 'css/palette.css' %}">
  <link rel="stylesheet" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <script src="https://d3js.org/d3-hierarchy.v1.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale.v2.min.js"></script>
  <script src="{% static 'js/treemap.js' %}"></script>
</head>
<body>
  <header>
    <div class="wrapper">
      <h1>Mosaico Orçamentário</h1>
      <p>Orçamento da Educação ao seu alcance</p>
      <nav>
        <a class="methodology" href="">
          <svg viewBox="0 0 320 320" height="32" class="icon">
            <use xlink:href="{% static 'img/icon-info.svg' %}#icon-info"></use>
          </svg>
          Metodologia
        </a>
      </nav>
    </div>
  </header>
  <section id="mosaic">
    <div class="wrapper">

      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Visualizar
        </legend>
        <div class="form-item switch">
          <input class="radio" type="radio" name="break" checked id="by-orgao">
          <label for="by-orgao">Por órgão</label>
          <input class="radio" type="radio" name="break" value="" id="by-area">
          <label for="by-area">Por área</label>
        </div>
        <div class="form-item">
          <input class="radio" type="radio" name="universe" value="">
          <label>Educação</label>
          <input class="radio" type="radio" name="universe" value="">
          <label>Mínimo constitucional</label>
        </div>
        <select name="year">
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
        </select>
      </fieldset>
      </form>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><a href="#">Ano 2019</a></li>
          <li class="active" aria-current="page"><span>Apoio ao Aluno</span></li>
        </ol>
      </nav>
      <ol class="treemap">
          <li data-execution="0.05" data-value="1000.00">
              <div class="name">Pessoal e Benefícios</div>
              <div class="value">R$ 1000,00</div>
              <div class="execution">5%</div>
          </li>
          <li data-execution="0.25" data-value="600.00">
              <div class="name">Convênios</div>
              <div class="value">R$ 600,00</div>
              <div class="execution">25%</div>
          </li>
          <li data-execution="0.8" data-value="910.00">
              <div class="name">Administração</div>
              <div class="value">R$ 910,00</div>
              <div class="execution">80%</div>
          </li>
          <li data-execution="1" data-value="100.00">
              <div class="name">Obras</div>
              <div class="value">R$ 100,00</div>
              <div class="execution">100%</div>
          </li>
      </ol>
      <style type="text/css">
        .treemap{
            position: relative;
            padding: 0;
            width: 100%;
            height: 35rem;
        }
        .treemap > li{
            position: absolute;
            overflow: hidden;
            box-sizing: border-box;
        }
        .treemap > li > div:first-child{
            padding-top: 1em;
        }
        .treemap > li > div{
            padding-left: 1em;
            white-space: nowrap;
            text-overflow: clip;
        }
        .treemap > li .name{
            font-weight: 700;
        }
      </style>
      <footer>
          <div class="legend">
              {# TODO: think on a progressive strategy of loading legend #}
              <img src="{% static 'img/escala_cor_mosaico.svg' %}" width="400" alt="">
          </div>
          <div class="actions">
              <a class="btn" href="">Dados do gráfico</a>
              <a class="btn" href="">Dados da tela</a>
          </div>
      </footer>
    </div>
  </section>
  <section id="budget-over-time">
    <div class="wrapper">
      <h2>Orçamento x <em>Tempo</em></h2>
      <form action="" method="get" class="query">
      <fieldset>
        <legend>
          Visualizar
        </legend>
        <div class="form-item switch">
          <input type="checkbox" name="break" checked id="use-deflator">
          <label for="use-deflator">Valores corrigidos</label>
          <label for="use-deflator">Valores correntes</label>
        </div>
      </fieldset>
      </form>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><a href="#">Ano 2019</a></li>
          <li class="active" aria-current="page"><span>Apoio ao Aluno</span></li>
        </ol>
      </nav>
    </div>
  </section>
  <section id="data-table">
    <div class="wrapper">
      <h2><em>Tabela</em> de Dados</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><a href="#">Ano 2019</a></li>
          <li class="active" aria-current="page"><span>Apoio ao Aluno</span></li>
        </ol>
      </nav>
    </div>
  </section>
  <section id="social">
    <div class="wrapper">
      <h2>
        Compartilhe!
      </h2>
      <nav>
        <ul>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-facebook.svg' %}#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-twitter.svg' %}#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-linkedin.svg' %}#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-whatsapp.svg' %}#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <footer>
    <div class="wrapper">
      <nav>
        <ul>
          <li>
            <a href="">
              <img src="{% static 'img/logo-unesco.svg' %}" alt="Unesco">
            </a>
          </li>
          <li>
            <a href="">
              <img src="{% static 'img/logo-sme.svg' %}" alt="Prefeitura de São Paulo - Educação">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
