body > header {
  background-color: #65C55A;
  background-image: url('../img/bg-header.svg');
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: auto 150%;
}

body > header h1 + p {
    color: #5F6B6D;
}

aside{
  display: flex;
  justify-content: flex-end;
}

aside > .card{
  width: calc(100%/3);
}

aside > .card > header,
aside > .card > .body{
  padding: 1.5em;
}

aside > .card > header > h3{
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
}

aside > .card > header > .numbers{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

aside > .card > header > .numbers > .cell > strong.bignumber{
  font-size: 1.25em;
}

aside > .card > header > .numbers > .cell > strong.bignumber .number{
  font-size: 1.75em;
}

aside > .card > header > .numbers > .cell > .description{
  text-transform: uppercase;
  font-size: 0.75em;
  margin-top: -0.75em
}

aside > .card > header > p{
  margin-bottom: 0;
  line-height: 1;
}
