body > header {
  background-image: url('../img/bg-header.svg');
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: auto 150%;
}

body > header h1 + p {
    color: #5F6B6D;
}

#localidade .bar,
body > header {
  background-color: #65C55A;
}

#localidade .bar{
  padding: 0.5rem 0;
  border-radius: 3px;
  margin: .25rem 0;
  font-size: 0.75em;
  white-space: nowrap;
}

#localidade .bar > *{
  padding: 0 1rem;
}

#localidade .bar .label{
  text-transform: uppercase;
  font-weight: bold;
}
