body > header {
  background-color: #259B95;
  background-image: url('../img/bkg-contratos-header.svg');
  background-repeat: repeat-x;
  background-position: 75% 0;
  background-size: auto 100%;
}

#total header{
  text-align: center;
  font-size: 2em;
  max-width: 41rem;
  text-overflow: ellipsis;
  margin: auto;
}

.big-number{
  font-size: 2em;
  font-weight: bolder;
  display: block;
  text-overflow: ellipsis;
  overflow-x: auto;
}

#total .body{
  margin: 3em 0 2em;
}

#total footer{
  display: flex;
  font-size: .85em;
  line-height: 1rem;
}

#total footer p{
  align-self: end;
  max-width: 35rem;
  color: #7b858d;
  font-family: 'Ubuntu';
}

thead th,
section#social,
#total .bar span.value{
  color: #222b34;
}

#total select{
  padding: 0 0.5em 0 0;
  color: inherit;
}

thead th{
  background-color: #ccd5ce;
}

tbody tr td.description-parent > div{
  content: '';
  display: inline-block;
  background-image: url('../img/info-white.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  cursor: help;
}

section#social{
  background-color: #f9faf9;
}

section#social a{
  color: #80a684;
}

section#top-5{
  background-color: #222b34;
  color: #fff;
  margin-top: -4.5em;
  padding: 3.5em;
}

section#top-5 select{
  border-radius: 1em;
  background-color: #80a684;
  color: #222b34;
  padding-left: 1em;
  background-image: url('../img/dropdown.svg');
  background-position: 99% center;
}

section#destino .bar{
  height: 5em;
}

.legend > *{
  width: 20%;
  padding: 1em 2em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 500ms;
}

.legend:hover > *{
  opacity: .5;
}

.legend:hover > *:hover{
  opacity: 1;
}

.legend .icon{
  margin: 0 auto 1em;
  float: none;
  display: block;
}

.fg-acoes-culturais{
  color: #5f6b6d;
}

.fg-alimentacao{
  color: #65ba57;
}

.fg-contrucoes{
  color: #abd656;
}

.fg-parcerias{
  color: #58b9aa;
}

.fg-pedagogico{
  color: #277fcd;
}

.fg-manutencao{
  color: #693d89;
}

.fg-servicos{
  color: #e94363;
}

.fg-transportes{
  color: #ed7f7c;
}

.fg-uniformes{
  color: #ee9564;
}

.fg-outros{
  color: #ecb93b;
}

.description-parent{
  position: relative;
}

.description-box{
  opacity: 0;
  position: absolute;
  transition: all 500ms;
  text-align: center;
  font-size: .8rem;
  line-height: 1rem;
  background-color: #80a684;
  color: #fff;
  border-radius: 0.5em;
  bottom: 150%;
  left: 50%;
  margin-left: -10em;
  width: 20em;
  text-indent: 0;
  pointer-events: none;
}

.description-box p{
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1rem;
}

:hover > .description-box{
  opacity: 1;
  bottom: 100%;
}

.description-box h3{
  text-transform: uppercase;
}

.description-box > *{
  margin: 1em;
}
