{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{% block title %}{% endblock %} • Transparência Orçamentária</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900|Ubuntu:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/menu-sme.css' %}">
  <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  <link rel="stylesheet" href="{% static 'css/palette.css' %}">
  <link rel="stylesheet" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
  {%block head %}{% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85250794-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-85250794-8');
  </script>

</head>
<body>

  <div id="navbar" class="navbar">
    <div class="navbar-wrapper">
      <div class="navbar-logos">
        <a href="http://patiodigital.prefeitura.sp.gov.br/livroaberto/" target="_blank">
          <img src="{% static 'img/logo_patiodigital.svg' %}" alt="Pátio Digital" />
        </a>
        <a href="http://patiodigital.prefeitura.sp.gov.br/livroaberto/"><img src="{% static 'img/logo_livroaberto.svg' %}" alt="Livro Aberto" /></a>
      </div>
      <a class="menu-toggle" href="#" id="menu-toggle"><img src="{% static 'img/menu.png' %}" alt="Menu" /></a>
    </div>
  </div>

  <div class="menu" id="menu">
    <ul>
      <li><a href="https://livroaberto.sme.prefeitura.sp.gov.br/">Home</a></li>
      <li><a href="{% url 'geologia_urls:home' %}">Geologia</a></li>
      <li><a href="{% url 'mosaico_urls:grupos' %}">Mosaico Orçamentário</a></li>
    </ul>
  </div>

  <header>
    <div class="wrapper">
      {%block header %}{% endblock %}
    </div>
  </header>
  {%block sections %}{% endblock %}
  <section id="social">
    <div class="wrapper">
      <h2>
        Compartilhe!
      </h2>
      <nav>
        <ul>
          <li>
            <a href="{%block fb_link %}#{% endblock %}" target="_blank">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-facebook.svg' %}#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="{%block tw_link %}#{% endblock %}" data-size="large" target="_blank">
                <svg class="icon">
                <use xlink:href="{% static 'img/icon-twitter.svg' %}#icon-twitter"></use>
                </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/educaprefsp/" target="_blank">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-instagram.svg' %}#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://telegram.me/share/url?url=http://t.me/patiodigital&text=SME-SP" target="_blank">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-telegram.svg' %}#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <footer>
    <div class="wrapper">
      <nav>
        <ul>
          <li>
            <a href="https://en.unesco.org/">
              <img src="{% static 'img/logo-unesco.svg' %}" alt="Unesco">
            </a>
          </li>
          <li>
            <a href="http://dapp.fgv.br/">
              <img src="{% static 'img/logo-fgv-dapp.svg' %}" alt="FGV DAPP" width="250">
            </a>
          </li>
          <li>
            <a href="http://portal.sme.prefeitura.sp.gov.br/">
              <img src="{% static 'img/logo-sme.svg' %}" alt="Prefeitura de São Paulo - Educação">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
