{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{% block title %}{% endblock %}• Transparência Orçamentária</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900|Ubuntu:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  <link rel="stylesheet" href="{% static 'css/palette.css' %}">
  <link rel="stylesheet" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  {%block head %}{% endblock %}
</head>
<body>
  <header>
    <div class="wrapper">
      {%block header %}{% endblock %}
      <nav>
        <a class="methodology" href="">
          <svg viewBox="0 0 320 320" height="32" class="icon">
            <use xlink:href="{% static 'img/icon-info.svg' %}#icon-info"></use>
          </svg>
          Metodologia
        </a>
      </nav>
    </div>
  </header>
  {%block sections %}{% endblock %}
  <section id="social">
    <div class="wrapper">
      <h2>
        Compartilhe!
      </h2>
      <nav>
        <ul>
          <li>
            <a href="https://www.facebook.com/EducaPrefSP">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-facebook.svg' %}#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/educaprefsp">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-twitter.svg' %}#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <!--li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-linkedin.svg' %}#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="{% static 'img/icon-whatsapp.svg' %}#icon-whatsapp"></use>
              </svg>
            </a>
          </li--!>
        </ul>
      </nav>
    </div>
  </section>
  <footer>
    <div class="wrapper">
      <nav>
        <ul>
          <li>
            <a href="https://en.unesco.org/">
              <img src="{% static 'img/logo-unesco.svg' %}" alt="Unesco">
            </a>
          </li>
          <li>
            <a href="http://dapp.fgv.br/">
              <img src="{% static 'img/logo-fgv-dapp.svg' %}" alt="FGV DAPP" width="250">
            </a>
          </li>
          <li>
            <a href="http://portal.sme.prefeitura.sp.gov.br/">
              <img src="{% static 'img/logo-sme.svg' %}" alt="Prefeitura de São Paulo - Educação">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
