body > header{
  background-color: #693d89;
  background-image: url('../img/bkg-geologia-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body > header .wrapper p {
  padding-bottom: 6rem;
}

/* Auxílios e Contribuições */
.contributions{
  fill: #edb93b;
  background-color: #edb93b;
}

.fg-contributions{
  color: #edb93b;
}

/* Custeio operacional */
.operational{
  fill: #f09564;
  background-color: #f09564;
}

.fg-operational{
  color: #f09564;
}

/* Despesas de Exercícios Anteriores */
.previous{
  fill: #e94363;
  background-color: #e94363;
}

.fg-previous{
  color: #e94363;
}

/* Investimentos em consultoria */
.consulting{
  fill: #693d89;
  background-color: #693d89;
}

.fg-consulting{
  color: #693d89;
}

/* Investimentos - Imóvel e Material Permanente */
.realty{
  fill: #277fcd;
  background-color: #277fcd;
}

.fg-realty{
  color: #277fcd;
}

/* Investimentos - Obras */
.construction{
  fill: #58b9aa;
  background-color: #58b9aa;
}

.fg-construction{
  color: #58b9aa;
}

/* Pessoal e Encargos */
.people{
  fill: #abd656;
  background-color: #abd656;
}

.fg-people{
  color: #abd656;
}

/* Serviços de Terceiros */
.outsourced{
  fill: #5f6b6d;
  background-color: #5f6b6d;
}

.fg-outsourced{
  color: #5f6b6d;
}

.legend{
  padding: 0;
  margin: 1em 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
}

.legend > *{
  width: 25%;
  margin-bottom: 1em;
}

.legend .icon{
  height: 3em;
  width: 3em;
  margin-right: 1em;
  vertical-align: middle;
  float: left;
}

.actions{
  text-align: center;
}

@media (min-width: 768px) {
  .chart{
    display: flex;
  }

  .punchcard,
  .bar-chart{
    width: calc(100%*2/3);
  }

  .chart aside{
    width: calc(100%*1/3);
  }

  aside > .card{
    margin: 0 0 1em 4em;
  }
}

.bar-chart{
  table-layout: fixed;
}

.bar-chart tr > *:first-child{
  width: 4em;
}

.bar-chart thead{
  display: none;
}

.bar-chart tbody tr:first-child > *{
  padding-top: 1em;
}

.bar-chart tr > *{
  padding-left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.punchcard .axis,
.bar-chart tbody tr > *{
  border-right: solid 1px #d1d1d1;
}

.bar-chart tbody tr:last-child > *{
  padding-bottom: 2em;
}

.bar-chart tfoot tr > *{
  position: relative;
  color: #d1d1d1;
  top: -1.5em;
}

.bar-chart tfoot tr > *:after{
  content: '';
  border-radius: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  right: -0.25em;
  top: 1.25em;
  background-color: currentColor;
}

.card header ul li a,
.bar-chart a{
  display: block;
  text-decoration: none;
  outline: 0;
}

.chart * + aside{
  position: relative;
}

.chart * + aside > .card{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  max-height: 0;
  overflow-y: auto;
  z-index: 0;
  margin-bottom: 0;
}

.chart * + aside .card.active{
  opacity: 1;
  z-index: 1;
  max-height: 100%;
}

.bar-chart + aside > .card table tr > *{
  padding-bottom: 0;
}

.bar-parent{
  padding-right: 0;
}

.bar{
  display: flex;
}

.bar span.label{
  display: none;
}

.bar span.value{
  display: block;
  text-indent: 100%;
  overflow: hidden;
  background-color: currentColor;
  font-size: 2em;
}

.card-wrapper{
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -1em;
}

.card-wrapper .card{
  display: inline-block;
  width: 18em;
}

.card{
  vertical-align: top;
  border-radius: 0.5em;
  margin: 1em;
  overflow: hidden;
}

.card header{
  padding: 1em;
  border-radius: 0.5em 0.5em 0 0;
}

.card header .title{
  margin: 0;
}

.card header ul{
  padding: 0;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.card header ul li{
  list-style: none;
  display: block;
  font-size: .5em;
}

.card header ul li a{
  transition: all 100ms;
}

.card header ul li.active a,
.card header ul li a:hover{
  transform: scale(3) translateY(-0.1em);
}

.card .body{
  padding-bottom: 0.5em;
}

.card table tr > *{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.card table tr > * svg.icon{
  font-size: 2em;
  margin-right: .5em;
}

.tick line{
  display: none;
}

.tick.active line{
  display: block;
}

#por-funcao aside > .card .body table{
  table-layout: fixed;
  margin: 1em 0 0.5em;
}

#por-funcao aside > .card .body table tr > *{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
}

.punchcard .column header,
.punchcard .gnd .desc,
#por-funcao aside > .card .body{
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
}

#por-funcao aside > .card .body table tr.active > *{
  font-weight: bold;
}

.punchcard{
  display: flex;
  justify-content: space-evenly;
}

.punchcard .column{
  text-align: center;
  position: absolute;
  opacity: 0;
}

.punchcard .column.active{
  position: relative;
  opacity: 1;
}

.punchcard .column header{
  font-weight: bold;
  width: 20em;
  height: 3em;
}

.punchcard li{
  width: 13em;
  height: 13em;
  margin: 0em -6.5em -6em;
  list-style: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.punchcard li .percent{
  font-size: 2em;
  font-weight: bold;
}

.punchcard li .desc{
  font-weight: bold;
}

.punchcard .column,
.punchcard li .gnd,
.punchcard li .gnd *{
  transition: all 500ms;
}

.punchcard li .gnd{
  width: 0;
  height: 0;
  border-radius: 50%;
  color: #fff;
  margin: auto;
  box-sizing: border-box;
  opacity: .7;
}

.punchcard li .gnd:hover{
  width: 100% !important;
  height: 100% !important;
  opacity: .9;
  padding: 1em;
  z-index: 1;
}

.punchcard li .gnd *{
  opacity: 0;
}

.punchcard li .gnd:hover *{
  opacity: 1;
}

.punchcard li .gnd .icon{
  font-size: 2em;
  display: block;
  margin: auto;
}

.punchcard .axis{
  font-size: 0.8em;
  width: 0;
  padding: 0;
  margin: 2em 0 5em 50%;
  height: 55em;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}


.punchcard .axis::before,
.punchcard li::after{
  content: '';
  border-radius: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  left: 50%;
  margin: -0.25em;
  background-color: #000;
}

.punchcard .axis::before{
  top: 0;
}

.punchcard li::after{
  top: 50%;
}
