header{
  background-color: #693d89;
  background-image: url('../img/bkg-geologia-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Auxílios e Contribuições */
.contributions{
  fill: #edb93b;
  background-color: #edb93b;
}

.fg-contributions{
  color: #edb93b;
}

/* Custeio operacional */
.operational{
  fill: #f09564;
  background-color: #f09564;
}

.fg-operational{
  color: #f09564;
}

/* Despesas de Exercícios Anteriores */
.previous{
  fill: #e94363;
  background-color: #e94363;
}

.fg-previous{
  color: #e94363;
}

/* Investimentos em consultoria */
.consulting{
  fill: #693d89;
  background-color: #693d89;
}

.fg-consulting{
  color: #693d89;
}

/* Investimentos - Imóvel e Material Permanente */
.realty{
  fill: #277fcd;
  background-color: #277fcd;
}

.fg-realty{
  color: #277fcd;
}

/* Investimentos - Obras */
.construction{
  fill: #58b9aa;
  background-color: #58b9aa;
}

.fg-construction{
  color: #58b9aa;
}

/* Pessoal e Encargos */
.people{
  fill: #abd656;
  background-color: #abd656;
}

.fg-people{
  color: #abd656;
}

/* Serviços de Terceiros */
.outsourced{
  fill: #5f6b6d;
  background-color: #5f6b6d;
}

.fg-outsourced{
  color: #5f6b6d;
}

.legend{
  padding: 0;
  margin: 1em 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
}

.legend > *{
  width: 25%;
  margin-bottom: 1em;
}

.legend .icon{
  height: 3em;
  width: 3em;
  margin-right: 1em;
  vertical-align: middle;
  float: left;
}

.actions{
  text-align: center;
}

.bar-chart thead{
  display: none;
}

.bar-chart tr > *{
  padding-left: 0;
}

.bar-chart tbody tr > *{
  border-right: solid 1px #d1d1d1;
}

.bar-chart tbody tr:last-child > *{
  padding-bottom: 2em;
}

.bar-chart tfoot tr > *{
  position: relative;
  color: #d1d1d1;
  top: -1.5em;
}

.bar-chart tfoot tr > *:after{
  content: '';
  border-radius: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  right: -0.25em;
  top: 1.25em;
  background-color: currentColor;
}

.bar-parent{
  padding-right: 0;
}

.bar{
  display: flex;
}

.bar span.label{
  display: none;
}

.bar span.value{
  display: block;
  text-indent: 100%;
  overflow: hidden;
  background-color: currentColor;
  font-size: 2em;
}
