header{
  background-color: #693d89;
  background-image: url('../img/bkg-geologia-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stream-chart{
  margin: 2em 0;
}

.investment{
  fill: #ecb93a;
  background-color: #ecb93a;
}

.fg-investment{
  color: #ecb93a;
}

.people{
  fill: #ea4168;
  background-color: #ea4168;
}

.fg-people{
  color: #ea4168;
}

.debt{
  fill: #693d8a;
  background-color: #693d8a;
}

.fg-debt{
  color: #693d8a;
}

.other{
  fill: #287fce;
  background-color: #287fce;
}

.fg-other{
  color: #287fce;
}

.legend{
  padding: 0;
  margin: 1em 0 2em;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
}

.legend .icon{
  height: 3em;
  width: 3em;
}

.actions{
  text-align: center;
}
