label[for]{
  cursor: pointer;
}

form.query input[type=checkbox],
form.query input[type=radio]{
  display: none;
}

form.query input[type=checkbox] + label,
form.query input[type=radio] + label:first-of-type{
  margin-right: 3em;
  position: relative;
}

form.query input[type=checkbox] + label:first-of-type:after,
form.query input[type=checkbox] + label:first-of-type:before,
form.query input[type=radio] + label:first-of-type:after,
form.query input[type=radio] + label:first-of-type:before{
  content: '';
  display: block;
  border-radius: 0.5em;
  position: absolute;
  top: 0.1em;
}

form.query input[type=radio] + label:first-of-type:after,
form.query input[type=radio] + label:first-of-type:before{
  pointer-events: none;
}

form.query input[type=checkbox] + label:first-of-type:before,
form.query input[type=radio] + label:first-of-type:before{
  background-color: currentColor;
  height: 1em;
  width: 2em;
  right: -2.5em;
}

form.query input[type=checkbox] + label:first-of-type:after,
form.query input[type=radio] + label:first-of-type:after{
  background-color: white;
  width: 0.7em;
  height: 0.7em;
  margin: 0.15em;
  transition: right .3s;
}

form.query input[type=checkbox]:not(:checked) + label:first-of-type:after,
form.query input[type=radio]:not(:checked) + label:first-of-type:after{
  right: -2.5em;
}

form.query input[type=checkbox]:checked + label:first-of-type:after,
form.query input[type=radio]:checked + label:first-of-type:after{
  right: -1.5em;
}

a.btn,
a.btn:last-child {
  margin: .5em 0;
  width: 100%;
}

button, input[type=submit], .btn{
  border-radius: .2em;
  border-style: solid;
  border-width: .15em;
  border-color: currentColor;
  padding: 1em;
  margin: 0.5em;
  box-sizing: border-box;
}

button:last-child, input[type=submit]:last-child, .btn:last-child{
  margin: 0;
}

button, input[type=submit], .btn,
select{
  display: inline-block;
  background-color: transparent;
}

select{
  padding: 0.2em 2em 0.2em 0em;
  border: none;
  cursor: pointer;
  background-image: url('../img/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center right;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .actions {
    display: flex;
    flex: 1;
  }
  a.btn,
  a.btn:last-child {
    margin: .5em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .actions {
    flex: inherit;
  }

  a.btn {
    margin-right: .5em;
  }
  a.btn:last-child {
    margin-right: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}