html, body{
  margin: 0;
  padding: 0;
}

body > *{
  padding: 1em;
}

.wrapper{
  margin: auto;
  max-width: 1200px;
}

header{
  padding: 7em 1em 3em;
}

header h1,
header h1 + p{
  text-align: center;
  margin: 1rem 0;
}

header nav{
  margin-top: 7rem;
}

header nav li{
  display: inline-block;
  list-style: none;
  margin-right: 2em;
}

h2{
  margin: 1em 0;
}

section{
  padding-bottom: 2em;
}

section#social{
  text-align: center;
}

section#social nav li{
  display: inline-block;
  margin: 0.5em;
}

section#social nav li a,
section#social svg.icon{
  display: inline-block;
  width: 2em;
  height: 2em;
}

nav ul{
  padding: 0;
}

svg.icon{
  vertical-align: middle;
  height: 1em;
  padding-bottom: .2em;
}

legend{
  margin-bottom: 1em;
  padding: 0;
}

fieldset{
  padding: 0;
  border: none;
}

.form-item{
  display: inline-block;
  margin-right: 3em;
}

.form-item:last-child{
  margin-right: 0em;
}


.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

section footer{
  display: flex;
  flex-direction: column;
}

.legend img {
  max-width: 100%;
  height: auto;
}

footer nav *{
  display: block;
}

footer ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

footer li{
  list-style: none;
}

body > footer img{
  height: 12em;
  width: 15em;
}

#data-table div{
  overflow-x: auto;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

table thead tr th:first-child{
    border-radius: 4px 0 0 4px;
}

table thead tr th:last-child{
    border-radius: 0 4px 4px 0;
}

thead > tr > *{
  position: relative;
  box-sizing: border-box;
}

thead > tr > *::before{
  content: '';
  position: absolute;
  height: 1.2em;
  left: 0;
  border-right: solid 1px currentColor;
}

tr > *{
  text-align: right;
  padding: 1em;
}

tr > *:first-child{
  text-align: left;
}

tr > *:first-child::before{
  border-right: none;
}

.chart{
  margin: 2em 0;
}

.chart svg{
  width: 100%;
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 5em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  #mosaico footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer ul {
    justify-content: space-between;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}