.navbar {
    background: #005653;
    height: 3rem;
    padding: .7em 0;
    display: flex;
    align-items: center;
}

.navbar-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
}

.navbar-logos {
    display: flex;
    flex-grow: 1;
}

.navbar-logos a:first-child {
    margin-top: .5rem;
    margin-right: 1rem;
}

.navbar-logos a img {
    height: 2rem;
    width: auto;
}

.menu {
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
    background: #444;
    padding: .625rem 1.25rem;
    display: none;
    border-bottom: 1px #333 solid;
    box-shadow: 0px 1px #fff;
    position: absolute;
    top: 4.4rem;
}

.menu ul {
    padding: 0;
}

.menu li {
    list-style: none;
    font-size: 1.5em;
    text-align: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    width: 1.25rem;
    margin-top: .3125rem;
}

.menu-toggle img {
    width: 1.25rem;
    height: 1.25rem;
}

.show {
    display: block !important;
}

@media (min-width: 768px) {
    .navbar-logos {
        margin-top: .3125rem;
    }
    .navbar-logos a img {
        height: 3rem;
    }
    .menu-toggle {
        margin-top: 1.25rem;
    }
}