body > header h1 + p {
  color: #b1d51b;
}

section:nth-child(2n+1){
  background-color: #f9faf9;
}

thead th,
section#data-table{
  background-color: #255754;
  color: #fff;
}

section#data-table thead th{
  color: #255754;
  background-color: #c3f570;
}

aside .card header,
body > header,
section#social{
  background-color: #222b34;
  color: #fff;
}

body > footer{
  background-color: #171717;
  color: #fff;
}

a{
  color: inherit;
}

h2 > em{
  position: relative;
}

h2 > em:after{
  content: '';
  background-image: url('../img/underline.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

svg.icon{
  fill: currentColor;
}


.card header ul li.active a,
.card header ul li a:hover,
.axis--x,
input[type=text],
select,
.breadcrumb a,
button, input[type=submit], .btn,
form.query label{
  color: #80a684;
}

.card{
  box-shadow: #777 0 0 0.5em;
}

.card header{
  background-color: #80a684;
  color: #fff;
}

.card .body{
  background-color: #fff;
}

form.query input[type=checkbox]:disabled + label,
form.query input[type=checkbox]:disabled + label + label,
form.query input[type=checkbox]:not(:checked) + label,
form.query input[type=checkbox]:checked + label + label,
form.query input[type=radio]:disabled + label,
form.query input[type=radio]:not(:checked) + label{
  color: #c6d7c8;
}

tbody tr:nth-child(2n) > *{
  background-color: rgba(255, 255, 255, 0.2);
}

.quanti-0, .quanti-20, .quanti-40, .quanti-60, .quanti-80{
  color: #fff;
}
.quanti-0{
  background-color: #e94363;
}

.quanti-20{
  background-color: #f09564;
}

.quanti-40{
  background-color: #edb93b;
}

.quanti-60{
  background-color: #66d2b4;
}

.quanti-80{
  background-color: #277fcd;
}
